


.popup-hero{
    width: 100vw;
    height: 100vh !important;
    position: relative;
    
    background-color: rgba(0 , 0 , 0 ,.489);
    .close-popup{
        position: absolute;
        top: 0 !important;
        height: calc(40vh - 60px ) !important;
        background-color: transparent;
        width: 100vw !important;
        z-index: 2000;

    }
    .popup-container{
        height: 60vh !important;
        width: 100vw;
    
        background-color: var(--primary-color2);
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: 9990;
        border-top-right-radius: 30px;
        border-top-left-radius: 30px;
        overflow-y: auto;
        

        .details{
            width: 100%;
            height: 100%;
            position: relative;

            h1{
                font-size: var(--font-size-middle) !important;
                font-weight: calc(var(font-weight-big) - 100) !important;
                text-align: center;
                justify-content: center;
                color: var(--icons-button-utils-color);
               
                font-family: var(--font--fam-above-nom);
            }

            .close{
                position: absolute;
                right: 20px;
                top: 20px;
                color: var(--secondary-color);
                font-size: 2rem;
                width: fit-content;
                height: fit-content;
            }

            .options{
                padding: 20px;

                .option{
                    display: flex;
                    margin-top: 10px;
                    margin-bottom: 10px;
                    outline: none;
                    background-color: transparent;
                    border: none;
                    padding: 0;
                    
                    justify-content: center;
                    align-items: center;
                    &:hover{
                        mat-icon{

                            color: var(--icons-button-utils-color);
                        }
                        p{
                            color: gray;
                            
                        }
                    }
                    
                    p{
                        margin-left: 10px;
                        font-size: .9rem;
                        font-weight: var(--font-weight-middle);
                        color: var(--icons-button-utils-color);
                        font-family: var(--font-fam-semibold);
                        padding: 0;
                        margin: 0;
                        cursor: pointer;
                        text-align: left;

                        
                        
                        span{
                            font-size: .6rem;
                            font-weight: var(--font-weight-middle);
                            color: var(--text-theme-color);
                        }
                    }
                    mat-icon{
                        color: var(--text-theme-color);
                        font-size: 1.5rem;
                        font-weight: var(--font-weight-big);
                        width: fit-content;
                        height: fit-content;
                        margin-right: 10px;
                    }
                }
            }
            .share{ 
                position: absolute;
                bottom: 60px;             
                
                .socials{
                    display: flex;
                    overflow-x:auto;                   
                    width: 100vw;
                    

                    img{
                        height: 70px;
                        height: 70px;
                        margin: 10px;
                        cursor: pointer;

                        &:hover{
                            animation: social 1s ease-in-out;
                            
                        }

                        @keyframes social {
                            to{transform: scale(.9);}
                        }
                    }


                                      
                }
                

            }
            .caption{
                position: absolute;
                bottom: 0;
                width: 100vw;
                height: 40px;
                display: flex;
                justify-self: center;
                align-items: center;
                p{
                    color: var(--secondary-color);
                    font-size: var(--font-size-small);
                    font-weight: var(--font-weight-middle);
                    text-align: center;
                    margin: 0;
                    padding: 0;
                    margin-left: auto;
                    margin-right: auto;
                } 

            }
            
        }
    }
}

@media only screen and (min-width: 1001px) {
    .popup-hero{
        display: none;
    }   
    
     
}