<div class="search-dropbox">
    
    <div class="content">
        <div class="popup-container">
            <div class="add-search-settings">
                <div class="search-input">
                    <mat-icon>search</mat-icon>
                    <input type="text" placeholder="Search  posts ">
                </div>
                
            </div>

              
        <div class="search-display">
            <div class="query-suggestions">
                <div class="suggestions" >
                    <small>first query</small>
                    <small>first query</small>
                    <small>first query</small>
                    <small>first query</small>
                </div>
            </div>
        
            <div class="other-suggestions">
                <div class="recent-searches">
                    <small>Recent search1 <button>x</button></small>
                    <small>Recent search1 <button>x</button></small>
                    <small>Recent search1 sfsfsfsf<button>x</button></small>
                    <small>Recent search1 <button>x</button></small>
                </div>
                <h1>Ideas for you</h1>
                <div class="ideas-for-you" >
                    <div class="idea-box">
                        <img src="/assets/posts/56e4aa0d-b7a7-4906-b4a8-38c393649b08.png" alt="">
                        <div class="idea-caption">
                            <p>Luxury Room Bedroom</p>
                        </div>            
                    </div>
                    <div class="idea-box">
                        <img src="/assets/posts/Boschs_future_of_urban_transportation_involves_a_city-wide_network_of_autonomous__e0UERQb.jpeg" alt="">
                        <div class="idea-caption">
                            <p>Luxury Room Bedroom</p>
                        </div>            
                    </div>
                       
                </div>
                
                <h1>Popular on Taswira</h1>
                <div class="popular-posts">
                    <div class="idea-box">
                        <img src="/assets/posts/Future.jpeg" alt="">
                        <div class="idea-caption">
                            <p>Luxury Room Bedroom</p>
                        </div>            
                    </div>
                    <div class="idea-box">
                        <img src="/assets/posts/Remastered_Marklin_Class_Destroyer.jpeg" alt="">
                        <div class="idea-caption">
                            <p>Luxury Room Bedroom</p>
                        </div>            
                    </div>
                   
            
                </div>
                
                <h1>Shopping sportlight</h1>
                <div class="shopping-sportlight">
                    <div class="shoppin-box">
                        <img src="/assets/posts/Snapchat-1222559946.jpg" alt="">
                        <div class="shopping-caption">
                            <p>Build your sacred place</p>
                        </div>            
                    </div>     
                    <div class="shoppin-box">
                        <img src="/assets/posts/Space_station_Yury_Solntsev.jpeg" alt="">
                        <div class="shopping-caption">
                            <p>Build your sacred place</p>
                        </div>            
                    </div>     
                    <div class="shoppin-box">
                        <img src="/assets/posts/56e4aa0d-b7a7-4906-b4a8-38c393649b08.png" alt="">
                        <div class="shopping-caption">
                            <p>Build your sacred place</p>
                        </div>            
                    </div> 
                    
            
                </div>   
                
                
            </div>
    
    
        </div>
            
        </div>

      
    </div>


    
    
</div>
