


app-search-auto-complete{
    position: absolute;
    top: 70px;
    z-index: 0;
    width: 100%;
}
.search-dropbox{

    width: 100vw;
    height: 100vh;
    position: relative;   
    background-color: rgba(0 , 0 , 0 ,.489);
    z-index: 9999;
    .content{
        position: absolute;
        background-color: transparent;
        width: 100vw;
        height: 80vh;
        overflow: hidden;
        left: 0;
        bottom: 0;
    }
    .popup-container{
        background-color: var(--primary-color2);
        width: 100%;
        height: 100%;
    
                 
        
        border-top-right-radius: 30px;
        border-top-left-radius: 30px;
        overflow-x: hidden !important;
        overflow-y: auto;
        
        .search-input{
            display: flex;
            border: 2px solid var(--icons-theme);
            border-radius: 25px;
            margin: 20px;
            height: 50px;
            width: calc(100% - 40px);
            justify-content: center;
            overflow: hidden;
            align-items: center;
            position: fixed;
            z-index: 9999;
            background-color: var(--primary-color2);
            mat-icon{
                margin-left: 10px;
                color: var(--icons-theme);
                font-size: 1.5rem;
                font-weight: 700;
                width: fit-content;
                height: fit-content;
            }
            input{
                width: 100%;
                border: none;
                padding: 0;
                margin: 0;
                height: 100%;
                outline: none;
                background-color: var(--primary-color2);
                font-size: var(--font-size-small);
                padding: 0 5px 0 5px;
                width:  calc(100% - 10px);
                font-weight: var(--font-weight-middle);
                font-family: var(--font-fam-semibold);
                color: var(--text-theme-color);

                &::placeholder{
                    color: var(--text-theme-color);
                }
    
            }
        }

    }
    
}