.settings-container{
    width: 100vw;
    height: 100vh;
    background-color: var(--primary-color);
    position: relative;
    padding-top: 20px;
    app-toolbar{
        position: fixed;
        bottom: 0;
        z-index: 9999;
    }

    


    .toggle-buttons-container{
        width: fit-content !important;
        height: fit-content !important;
        
        .theme-btn.none{
            display: none;
        }

        .white{
            background-color: white !important;
            

        }
        .black{
            background-color: black !important;
        }
        

        .toggle-off ,.toggle-on{
            width: 50px !important;
            height: 30px !important;
            display: block;
            border-radius: 15px !important;
            border: none;
            margin: 5px;
            position: relative;
            cursor: pointer;
            
        }
        .toggle-ball{
            width: 20px;
            height: 20px;
            border-radius: 10px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            &.black{
                right: 5px !important;
            }
            &.white{
                left: 5px !important;
                
            }
            
        }
    }


    .back{
        background-color: transparent;
        border: none;
        border-radius: 20px;
        height: 40px;
        width: 40px;
        background-color: var(--primary-color2);
        position: absolute;
        top: 20px;
        left: 10px;
        display: flex;
        align-content: center;
        justify-content: center;
        mat-icon{
            color: var(--icons-theme);
            width: fit-content;
            height: fit-content;
            padding: 0;
            margin: 0;
            font-size: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }


    h1{
        font-size: var(--font-size-big);
        font-weight: var(--font-weight-big);
        color: var(--icons-theme);
        font-family: var(--font-fam-semibold);
        padding: 0;
        margin: 0;
        padding-left: 10px;
        text-align: center;
        
    }
    
    .small-settings{
        margin-top: 60px;
        .mysetting{
            height: 50px;
            margin: 0 10px 0 10px;
            button{
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                height: 100%;
                border: none;
                margin: 5px 0 5px 0;
                background-color: var(--primary-color2);
                border-radius: 10px;
                font-size: var(--font-size-middle);
                font-weight: var(--font-weight-middle);
                font-family: var(--font-fam-semibold);
                padding-left: 10px;
                padding-right: 10px;
                color: var(--text-theme-color);
            }
            p{
                padding: 0;
                margin: 0;
                font-size: var(--font-size-middle);
                font-weight: var(--font-weight-middle);
                font-family: var(--font-fam-semibold);
                color: var(--text-theme-color);
            }
        }
        .change-theme{
            height: 50px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .left{
                display: flex;
                align-items: center;

            }
            mat-icon{
                color: var(--icons-theme);
                font-size: 30px;
                margin-left: 10px;
                margin-right: 10px;                
                width: fit-content;
                height: fit-content;

            }
            .right{
                padding-right: 0px;
            }

            p{
                width: fit-content;
                color: var(--text-theme-color);
                font-size: var(--font-size-middle);
                font-weight: var(--font-weight-middle);
                font-family: var(--font-fam-semibold);
                margin: 0;
                padding: 0;
                width: fit-content;
            }
            mat-slide-toggle{
                font-size: 30px;
                width: fit-content;
                height: fit-content;
                
            }
        }
    }
}

@media only screen and (min-width: 1001px) {
    .settings-container{
        margin-top: 70px !important;

        .back{
            display: none;
        }
    }

}