<div class="settings-container" TaswiraTheme  [attr.theme]="myTheme">
    <app-toolbar></app-toolbar>
    <div class="top-content">
        <h1>Settings</h1>
        <button class="back" (click)="moveBack()">
            <mat-icon >navigate_before</mat-icon>
        </button>
    </div>

    

    <div class="small-settings">
        <div class="mysetting theme-settings">
            <div class="change-theme">
                <div class="left">
                    <mat-icon>{{darkTheme? 'brightness_2': 'brightness_6'}}</mat-icon>
                    <p>{{!darkTheme? 'Dark': 'Light'}} Mode</p>
                </div>
                <div class="right" style="z-index: 0 !important;">

                    <div class="toggle-buttons-container">
                        <div class="theme-btn" [ngClass]="myTheme === 'dark'? 'none': 'block'">
                            <button (click)="toggleTheme()" class="toggle-off black">
                                <div class="toggle-ball white">
                    
                                </div>
                            </button>
                        </div>                       
                        <div class="theme-btn" [ngClass]="myTheme === 'dark'? 'block': 'none'">
                            <button (click)="toggleTheme()" class="toggle-on white" >
                                <div class="toggle-ball black">
                    
                                </div>
                            </button>
                        </div>
                        
                    </div>

                </div>
            </div>
        </div>
        <div class="mysetting edit-profile">
            <button class="btn-setting" (click)="editProfile()">
                <p>Edit profile</p>
                <small>Romni</small>
            </button>
        </div>
        <div class="mysetting privacy">
            <button class="btn-setting">
                privacy
            </button>
        </div>
        <div class="mysetting accounts-settings">
            <button class="btn-setting">
                Account Management
            </button>
        </div>
        <div class="mysetting bussiness-integration">
            <button class="btn-setting">
                Intergrate Bussness
            </button>
        </div>
        <div class="mysetting profile-visibility">
            <button class="btn-setting">
                Profile Visibility
            </button>
        </div>
        <div class="mysetting tune-home-feed">
            <button class="btn-setting">
                What I want to see !
            </button>
        </div>
        <div class="mysetting logout">
            <button class="btn-setting" (click)="logoutUser()">
                <p>Logout</p>
                <app-spinner *ngIf="logout"></app-spinner>
            </button>
        </div>
    </div>
    
</div>
