

<div class="profile-hero">
    <div class="user-details">
        <div class="profile-picture">
            {{activatedRouteParam | uppercase | slice :0:2}}
        </div>
        <p class="profile-name">{{activatedRouteParam}}</p>
        <div class="followers-following">
            <div class="follower-box">
                Followers {{profile_data?.follower_no}}
            </div>
            <div class="following-box">
                Following {{profile_data?.following_no}}
            </div>
        </div>
        <div class="share-edit">
            <button class="share">Share</button>
            <button class="edit-profile" *ngIf="current_user">Edit profile</button>
            <button class="share" *ngIf="!current_user">follow</button>
        </div>
    </div>
    <div class="created-saved">
        <div class="created" (click)="navigateToMyPosts()">
            <p class="created-title">Created</p>
        </div>
        <div class="saved">
            <p class="saved-title" (click)="navigateToSavedPosts()">Saved</p>

        </div>
    </div>
</div>



