<app-toolbar></app-toolbar>

<button><mat-icon>add_circle_outline</mat-icon></button>
<div class="profile-hero">
    <div class="user-details">
        <div class="profile-picture">
            {{activatedRouteParam | uppercase | slice :0:2}}
        </div>
        <p class="profile-name">{{activatedRouteParam}}</p>
        <div class="followers-following">
            <div class="follower-box">
                100 following you
            </div>
            <div class="following-box">
                You follow 100 people
            </div>
        </div>
        <div class="share-edit">
            <button class="share">Share</button>
            <button class="edit-profile">Edit profile</button>
            <button class="share">follow</button>
        </div>
    </div>
    <div class="created-saved">
        <div class="created" (click)="navigateToMyPosts()">
            <p class="created-title">Created</p>
        </div>
        <div class="saved">
            <p class="saved-title" (click)="navigateToSavedPosts()">Saved</p>

        </div>
    </div>
</div>
