<app-toolbar></app-toolbar>
<div class="loading" *ngIf="!loading_complete">    
  <app-spinner ></app-spinner>
  <p>please wait ...</p>
</div>
<div class="everything"*ngIf="loading_complete">
  <app-profile></app-profile>
  <div class="posts-container" >
    <p class="heading"*ngIf="no_of_post != 0 ">Created pins:</p>
    <p class="heading"*ngIf="no_of_post === 0 && !current_user">No posts.</p>
    <div class="add-pins" *ngIf="current_user && no_of_post === 0" >
      <p class="heading">No pins created!</p>
      <div class="add" (click)="navigateTocreate()">
         <p>create here</p>
         <mat-icon>add_box</mat-icon>
      </div>      
    </div>
    
      <div class="pins-hero">
        <div class="pin-container" *ngFor="let post of data.pins_created">
          <button class="icons save delete" (click)="deleteCreatedPost(post?.id)" *ngIf="current_user">
            delete
          </button>
          <button class="icons save" (click)="saveUserPost(post?.id)" *ngIf="!current_user">
            save
          </button>
          <button class="icons upload">
            <mat-icon>upload</mat-icon>
          </button>
          <button class="icons more">
            <mat-icon>more_horiz</mat-icon>
          </button>
      
          
          <img [src]="post?.image_url+timestamp | slice :67" alt="">
        </div>
        
      </div>
    
    </div>
</div>