@import '../utils';

// utils here eg buttons icons
mat-icon{
    color: $icons-button-utils-color;
    justify-self: center;
    align-self: center;
    font-size: 20px;
    margin-left: 5px;
    margin-right: 5px;
}mat-toolbar{
    background-color: $primary-color;
    display: flex;
    justify-content: space-between;
    color: $text-theme-color-dark;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 10001;
}
button{
    height: 40px;
    padding-left: 15px;
    padding-right: 15px;
    border: none;
    border-radius: 20px;
    font-size: $font-size-middle;
    font-weight: $font-weight-middle;
    cursor: pointer;
}
app-login{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1020;

   
   
}
app-register{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50% ,-50%);
    z-index: 1020;
   
   
}



.home-hero{
    padding: 0;
    margin: 0;
    display: block;
    position: relative;   
    .overlay{
        position: absolute;
        height: 100vh;
        width: 100%;
        top: 0;
        background-color: rgba(0, 0, 0 ,.55);
        z-index: 1000;
    }
    .desktop-toolbar{
        display: flex;
        height: 70px;
        position: fixed;
        top: 0;
        z-index: 10001;
        .left-end ,.right-end{
            width: fit-content;
            span{
                color: $text-theme-color-dark;
                font-weight: $font-weight-big;
                font-size: $font-size-middle;
                padding: 5px;
                cursor: pointer;
            }
        }
        
        .left-end{
            justify-content: center;
            align-items: center;
            text-align: center;
            display: flex;
    
            img{
                height: 40px;
                width: 40px;
                margin-left: auto;
                margin-right: auto;
            }
            
            mat-icon{
                align-self: center;
                justify-self: center;
                text-align: center;
            }
        }
        
        .right-end{
            display: flex;
            .login-btn{
                background-color: $icons-button-utils-color;
                color: $primary-color;
                margin-left: 5px;
                margin-right: 5px;
                border: 2px solid $icons-button-utils-color;
                &:hover{
                    animation: removeBackgroundBtnHoverEffect 500ms ease-in forwards;
                }
            }
            .register-btn{
                background-color: transparent;
                color: $icons-button-utils-color;
                margin-left: 5px;
                margin-right: 5px;
                border: 2px solid $icons-button-utils-color;
                &:hover{
                    animation: addBackgroundBtnHoverEffect 500ms ease-in forwards;
                }
            }
    
            .profile-btn{
                padding: 5px;
                height: fit-content;
    
                font-size: $font-size-small;
                font-weight: $font-weight-middle;
                color: $icons-button-utils-color;
                border-radius: 50%;
                border: 2px solid $icons-button-utils-color;
            }
            
           
    
        }


        
            
            
       
        @keyframes removeBackgroundBtnHoverEffect{
            to{background-color: transparent; color: $icons-button-utils-color;}
        }
        @keyframes addBackgroundBtnHoverEffect {
            to{background-color: $icons-button-utils-color; color: $primary-color;}
            
        }
    
    
    
    }
    /* small screens navigation bar */
    .mobile-toolbar{
        width: 100vw;
        height: 100vh;
        position: absolute;
        top: 0;
        bottom: 0;
        z-index: 20;
        background-color: rgba(0, 0, 0, 0.603);
        place-content: center;
        scroll-snap-align: center;
        .content{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;


        }
        .title{
            display: block;
            width: fit-content;
            margin-left: auto;
            margin-right: auto;
            .logo{
    
                height: 40px;
                width: 40px;
                background-color: white;
                margin: 0 auto 0 auto;
                border-radius: 20px;
                padding: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
               
                
                img{
                    width: 90%;
                    height: 90%;
                }
            }
            .title-caption{
                margin-top: 10px;
                margin-bottom: 10px;

                h1{
                    font-size: 2rem;
                    font-weight: 700;
                    color: 
                    $text-theme-color-light;
                    text-align: center;
                    font-family: 'montserrat-Extrabold' ,Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                }
            }
        }
        .bigger-links{
            display: block;
            width: fit-content;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 20px;
            .menu-links{
                width: 199px;
                display: block;            
                height: 40px;
                cursor: pointer;
                margin-top: 10px;
                margin-bottom: 7px;
                border-radius: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: $font-size-middle;
                font-weight: $font-weight-big;
                
                
            }
            .link-1{
                color: $primary-color;
                background-color: orange;
            }
            .link-2{
                color: $primary-color;
                /* background-color: var(--icons-button-utils-color); */
                background-color: red;
            }
            .link-3{
                color: var(--icons-button-utils-color);
                background-color: $primary-color;
               
            }
            
            
        }
        .smaller-links{
           
            cursor: pointer;

    
            a{
                font-size: $font-size-small;
                font-weight: $font-weight-big;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0;
                margin: 0;
                padding: 10px 0 10px 0;
                color: $primary-color;
                font-family: 'montserrat', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            }
    
    
    
    
        }
        .terms-policy{
            max-width: 80vw;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: auto;
            margin-right: auto;
            
            p{
                font-size: $font-size-small;
                font-weight: $font-weight-middle;
                display: flex;
                text-align: center;
                padding: 0;
                color: $text-theme-color-light;
                margin: 0;
                padding-left: 20px;
                padding-right: 20px;
                font-family: 'montserrat-semibold', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
            }
        }
    
    }
    /* small screens navigation bar background */


   
        
        
    
    
    
    

    .intro-page, .end-page{
        display: grid;
        
        grid-template-columns: calc(100vw / 2.9) calc(100vw / 2.9) calc(100vw / 2.9);
        grid-template-rows: calc(100vh / 4) calc(100vh / 4) calc(100vh / 4) calc(100vh / 4);
        gap: 5px;
        overflow: hidden;
        position: relative;


        img{
            width: 100%;
            height: 100%;
            object-fit: scale-down;
            object-fit: cover;
            border-radius: 20px;
        }

        app-login{
            display: none;
        }

    }
    .cover-section{
        height: 100vh;
        width: 100vw;  
        position: relative;
                     
        
        /* place-content: center; */
        scroll-snap-align: center;
        
        .pictures{
            width: 100%;
            width: 100%;
            height: 100%;
        }
        h1{
            font-size: calc(var(--font-size-big) + 5px);
            font-weight: var(--font-weight-big);
            font-family: var(--font-fam-semibold);
            padding: 0;
            margin: 0;
            text-align: center;
            padding-top: 20px;
            color: var(--icons-button-utils-color);
        }
        
    
    }
    .scrolldown-btn{
        position: absolute;
        z-index: 1001;
        bottom: 60px;
        left: 50%;
        transform: translateX(-50%);
        width: 40px;
        height: 40px;
        padding: 0;
        margin: 0;
        background-color: white;
       
        border-radius: 20px;

        animation: scroll-btn 1.5s infinite  ease-in-out, change-color 25s infinite;
        
        display: flex;
        justify-content: center;
        align-items: center;

        mat-icon{
            margin: 0;
            padding: 0;
            width: fit-content;
            height: fit-content;
            font-size: 30px;
            color: black;
            font-weight: 500;

        }

        @keyframes scroll-btn {
            0%, 100% {
                bottom: 60px;

                
            }
            50% {
                bottom: 65px;
                
            }

            

            

        }
        @keyframes change-color {
            0%{
                background-color: white;
            }
            25% {
                background-color: rgba(252,196,0,255);
            }
            50% {
                background-color: rgba(33,176,255,255);
            }
            75% {
                background-color: rgba(238,90,4,255);
            }
            100%{
                background-color: var(--icons-button-utils-color);
            }
            
        }
    }

    .scroll-down{
        background-color: rgba(238,90,4,255);
        height: 40px;
        width: 100vw;
        z-index: 1000;

        bottom: 0;
        left: 0;
        position: absolute;
        box-shadow: 0px -15px 10px  rgba(238,90,4,0.5);


        p{
            text-align: center;
            font-size: var(--font-size-middle);
            font-family: var(--font-fam-semibold);
            font-weight: var(--font-weight-middle);
            display: flex;
            align-items: center;
            vertical-align: middle;
            justify-content: center;
        }

        mat-icon{
            
            font-size: 30px;
            margin: 0;
            border: none;
            width: fit-content;
            height: fit-content;
            
        }
    }
   

    
}

.bottom{
    width: 100%;
    height: 100%;
       
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 20;
    background-color: rgba(0, 0, 0, 0.603);
   
    .content{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        height: 100%;
        position: relative;


    }

    .footer{
        position: absolute;
        z-index: 10001;
        width: 100vw;
        height: 50px;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;

        bottom: 50px !important;
        left: 0;

        a{
            text-decoration: none;
            font-size: var(--font-size-small);
            font-weight: var(--font-weight-middle);
            font-family: var(--font-fam-semibold);
            margin: 0 5px 0 5px;
        }
    }
    .title{
        display: block;
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
        .logo{

            height: 40px;
            width: 40px;
            background-color: white;
            margin: 0 auto 0 auto;
            border-radius: 20px;
            padding: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
           
            
            img{
                width: 90%;
                height: 90%;
                border-radius: 0;
            }
        }
        .title-caption{
            margin-top: 10px;
            margin-bottom: 10px;

            padding: 0 10px 0 10px;

            h1{
                font-size: 2rem;
                font-weight: 700;
                color: 
                $text-theme-color-light;
                text-align: center;
                font-family: 'montserrat-Extrabold' ,Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            }
        }
    }
    .bigger-links{
        display: block;
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
        .link-2{
            color: $primary-color;
            /* background-color: var(--icons-button-utils-color); */
            background-color: red;
        }
        .link-3{
            color: var(--icons-button-utils-color);
            background-color: $primary-color;
           
        }
        .menu-links{
            width: 199px;
            display: block;            
            height: 40px;
            cursor: pointer;
            margin-top: 10px;
            margin-bottom: 7px;
            border-radius: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: $font-size-middle;
            font-weight: $font-weight-big;

            
            
            
            
        }}}















/* Animations  */






/* responsiveness */

@media only screen and (max-width: 1000px) {
    .desktop-toolbar{
        display: none !important;
    }
    
    .mobile-toolbar{
        display: block !important;
    }

    .overlay{
        display: none !important;
    }
    
    
     
}



@media only screen and (min-width: 1001px){
    .desktop-toolbar{
        display: flex !important;

    }
    .home-hero{
        padding-top: 70px !important;
    }
    
    .food{
        .title{
            position: absolute;
            top: 100px;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    
    .mobile-toolbar{
        display: none !important;
    }
    .cover-section{
        display: none !important;
    }  
   
}

.fashion{
    background-color: rgba(33,176,255,255);
}

.food{
    background-color: rgba(238,90,4,255);
}

.home-decoration{
    background-color: rgba(247,226,235,255);
}

.gadgets{
    background-color: rgba(252,196,0,255);
}

.food , .fashion ,.gadgets{
    display: block !important;
    border-radius: 0 !important;

    .section-container{
        height: 100%;
        width: 100%;
    }


     
}
.food{
    position: relative;

    
}

button.explore{
    background-color: red;
    color: white;
    margin-left: auto !important;
    margin-right: auto !important;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.section-more-container{
    padding: 20px;
    position: relative;
    h1, p{
        text-align: center;
        padding: 0;
        margin: 0;        
        color: var(--icons-button-utils-color);

    }
    h1{
        font-size: calc(var(--font-size-big) + 5px);
        font-weight: var(--font-weight-big);
        font-family: var(--font-fam-semibold);
        margin-bottom: 10px;

    }
    p{
        font-size: calc(var(--font-size-middle) - 3px );
        font-weight: var(--font-weight-middle);
        font-family: var(--font-fam-semibold);
        margin-bottom: 50px;
    }

    @media only screen and (min-width: 1001px){

        h1{
            font-size: calc(var(--font-size-big) + 15px) !important;
            margin-bottom: 10px !important;
        }
        p{
            font-size: calc(var(--font-size-middle) + 3px) !important;
            margin-top: 10px !important;
        }


    }
}

.images{
    position: relative;
    width: 100vw;
    height: 60vh;
    vertical-align: top;
    overflow: visible;

    img{
        object-fit: cover;
        border-radius: 20px;
        z-index: 10;
    }
    
    
    .image4{
        width: 150px;
        height: 220px;
        object-fit: cover;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50% , -50%);
        border-radius: 20px;
        z-index: 20;
        
    }

    

    .image1{
        position: absolute;
        width: 100px;
        height: 150px;
        top: 50%;
        left: calc(50% - 100px);
        transform: translate(-50% , -50%);
    }
    .image2{
        width: 110px;
        position: absolute;
        height: 150px;
        position: absolute;
        top: calc(50% - 100px);
        left: calc(50% + 100px);
        transform: translate(-50% , -50%);
    }
    .image3{
        width: 120px;
        height: 150px;
        position: absolute;
        top: calc(50% + 100px);
        left: calc(50% + 100px);
        transform: translate(-50% , -50%);
    }
        
    
}

.fashion{
    display: block;
    
    .section-container{
        display: block;
    }

    .section-images-container{
        width: fit-content;
        height: fit-content;
        display: flex;
        justify-content: center;
        align-items: center;
        /* padding: 20px; */
        position: relative;
        .main-image{
            max-width: 500px;
            /* border-radius: 10px; */
            
            overflow: hidden;

            img{
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
        

        .caption{
            position: absolute;
            left:100px;
            bottom: 20px;
            z-index: 40;
            background-color: rgba(0, 0, 0, 0.187);

            small{
                display: block;
                font-size: var(--font-size-middle);
                font-weight: var(--font-weight-middle);
                font-family: var(--font-fam-semibold);
                color: white;


            }
        }

        .avatar{
            width: 80px;
            height: 80px;
            border-radius: 40px;
            position: absolute;
            overflow: hidden;

            bottom: 20px;
            left: 10px;
            z-index: 30;

            img{
                width: 100%;
                height: 100%;
                object-fit:cover;
            }
        }


        .compliment-images{
            position: absolute;
            bottom: 20px;
            left: 15px;
            
            .status{
                position:relative;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 160px;
                overflow: hidden;
                margin-left: 20px;
               
                border-radius: 20px;

                .state{
                    top: 5px;
                    left: 0;
                    position: absolute;

                    width: 100%;
                    height: 20px ;
                    

                    display: flex;
                    
                    align-items: center;
                    
                    justify-content: space-evenly;
                    

                    span{
                        height: 2px;
                        border-radius: 20%;
                        background-color: rgb(178, 174, 174);
                        min-width: 15%;
                        position: relative;
                    }
                    .span2{
                        position: absolute;
                        width: 20px;
                        background-color: white;
                    }
                }

               

            }

            h1, p{
                color: white !important;
            }
            

        }



    }

    

}

.gadgets{
    display: block;
    height: 100vh;
    width: 100vw;

    .section-container{
        height: 100%;
        width: 100%;
    }

    .section-images-container{
        position: relative;
        width: 100%;// should change on large screens
        
        
        height: 70%;

    
        img{
           
            object-fit: cover;
            position: absolute;
            border-radius: 20px;
            

        }
            

        .image1{
            width: 150px;
            height: 120px;
            left: calc(50% - 20%);
            top: calc(50% + 20%);
            
            transform: translate(-50% , -50%);
            z-index: 10;
        }
        .image2{
            width: 150px;
            height: 120px;
            left: calc(50% + 20%);
            top: calc(50% + 20%);
            transform: translate(-50% , -50%);
            z-index: 10;
        }
        .image3{
            width: 150px;
            height: 120px;
            
            left: calc(50% + 20%);
            top: calc(50% - 20%);
            transform: translate(-50% , -50%);
            z-index: 10;
        }
        .image4{
            width: 150px;
            height: 120px;
            top: calc(50% - 20%);
           
            left: calc(50% - 20%);
            
            transform: translate(-50% , -50%);
            z-index: 10;
        }

        .image-center{
            width: 200px;
            height: 180px;
            left: 50%;
            top: 50%;
            transform: translate(-50% , -50%);
            z-index: 20;
        }

            
        }

        
        
        
    

}

@media only screen and (max-height: 840px){
    .main-image{
       max-height: 60vh !important;
    }
    .status{
        width: 120px !important;
        height: 200px;
    }
    .gadgets{
        .section-images-container{
            height: 60% !important;


            .image1{
               
                top: calc(50% + 25%) !important;
                
                transform: translate(-50% , -50%);
                z-index: 10;
            }
            .image2{
               
                top: calc(50% + 25%) !important;
                transform: translate(-50% , -50%);
                z-index: 10;
            }
            .image3{
                
                top: calc(50% - 25%) !important;
                transform: translate(-50% , -50%);
                z-index: 10;
            }
            .image4{
               
                top: calc(50% - 25%) !important;
               
                
                transform: translate(-50% , -50%);
                z-index: 10;
            }
    
            .image-center{
                width: 180px  !important;
                height: 160px !important;
                left: 50%;
                top: 50%;
                transform: translate(-50% , -50%);
                z-index: 20;
            }
        }
    }
}



@media only screen and (min-width: 1001px){
    .section-container{
        display: flex !important;
        justify-content: center;
        align-items: center;
    }
    .images{
        height: 100% !important;
        width: 100% !important;
    }
    .images{
        position: relative;
        width: 100vw;
        height: 60vh;
        vertical-align: top;
        overflow: visible;
    
        img{
            object-fit: cover;
            border-radius: 20px;
            z-index: 10;
        }
        
        
        .image4{
            width: 200px;
            height: 270px;
            object-fit: cover;
            
            top: 50%;
            left: 50%;
            transform: translate(-50% , -50%);
            border-radius: 20px;
            z-index: 20;
            
        }
    
        
    
        .image1{
            
            width: 120px;
            height: 170px;
            top: 50%;
            left: calc(50% - 150px);
            transform: translate(-50% , -50%);
        }
        .image2{
            width: 130px;
           
            height: 170px;
           
            top: calc(50% - 150px);
            left: calc(50% + 150px);
            transform: translate(-50% , -50%);
        }
        .image3{
            width: 140px;
            height: 170px;
           
            top: calc(50% + 150px);
            left: calc(50% + 150px);
            transform: translate(-50% , -50%);
        }
    }
    .section-images-container{
        width: 50% !important;

    }
    .section-more-container{
        width: 50% !important;
    }

    .gadgets{
        .image1{
            width: 180px;
            height: 150px;
            left: calc(50% - 20%) !important;
            top: calc(50% + 20%) !important;
            
            transform: translate(-50% , -50%);
            z-index: 10;
        }
        .image2{
            width: 180px !important;
            height: 150px !important;
            left: calc(50% + 20%);
            top: calc(50% + 20%);
            transform: translate(-50% , -50%);
            z-index: 10;
        }
        .image3{
            width: 180px !important;
            height: 150px !important;
            
            left: calc(50% + 20%);
            top: calc(50% - 20%);
            transform: translate(-50% , -50%);
            z-index: 10;
        }
        .image4{
            width: 180px !important;
            height: 150px !important;
            top: calc(50% - 20%);
           
            left: calc(50% - 20%);
            
            transform: translate(-50% , -50%);
            z-index: 10;
        }

        .image-center{
            width: 230px !important;
            height: 210px !important;
            left: 50%;
            top: 50%;
            transform: translate(-50% , -50%);
            z-index: 20;
        }
    }

}
@media only screen and (min-width :1001px){

    .cover-section.end-page{
        display: block !important;
    } 
    .end-page{
        /* margin-top: 70px !important;
        display: block; */


       img{
            width: 100%;
            height: 100%;
            object-fit: scale-down;
            object-fit: cover;
            border-radius: 20px;
       }

        .link-3{
            display: none !important;
        }
    }

    .pictures{
        display: none;

    }
    .pc-bg-image{
        display: block !important;
        width: 100vw;
        height: 100vh;
    }

    .center{
        display: block !important;
        height: fit-content !important;
        width: 50% !important;

    }
    .content{
        display: flex !important;
        height: 100%;
        width: 100vw !important;
        justify-content: center;
        align-items: center;
    }
    
    app-login{
        display: flex !important;
        position: relative !important;
        width: 50%;
        transform: none;
        left: 0;
        top: 0;

    }
    
}