
<div class="home-hero">
  <div class="overlay" *ngIf="openRegisterDialog || openloginDialog "></div>
  <mat-toolbar class="desktop-toolbar">
    <div class="left-end">
        <img src="assets/Taswira2030.png" alt="logo">
        <span>Explore</span>
       
      </div>
      <div class="middle"></div>
      <div class="right-end">
        <span class="menu-links">About</span>
        <span class="menu-links">Business</span>
        <span class="menu-links">Blog</span>
        <div class="auth-btns">
          <button class="accounts-btn login-btn"(click)="toggleLoginDialog()">Login</button>
          <button class="accounts-btn register-btn" (click)="toggleRegisterDialog()">Register</button>
        </div>



        
      </div>
    </mat-toolbar>

    <section class="top-desktop-unauth-page">
      <div class="top-container">
        <div class="heading">
          <h1>Heading</h1>
          <h2>Idea eg home decoration,</h2>
        </div>
        <div class="center-animation">
          <div class="animation1" TaswiraimageSlider>
            <div class="box smaller">
              <img src="/assets/Taswira images/home decor.jpg" alt="">
            </div>
            <div class="box small">
              <img src="/assets/Taswira images/pets 4.jpg" alt="">
            </div>
            <div class="box big middle-image">
              <img src="/assets/Taswira images/health and workout 2.jpg" alt="">
            </div>
            <div class="box small">
              <img src="/assets/Taswira images/health and workout.webp" alt="">
            </div>
            <div class="box smaller">
              <img src="/assets/Taswira images/lipstick .webp" alt="">
            </div>
            
            
          </div>
          <!-- <div class="pictures">
            <img src="/assets/Taswira images/fashion-beauty.jpg" alt="">
          </div>          
          <div class="pictures">
            <img src="/assets/Taswira images/african food.jpg" alt="">
          </div>
          <div class="pictures">
            <img src="/assets/Taswira images/nature.jpg" alt="">
          </div>
          <div class="pictures">
            <img src="/assets/Taswira images/fitness.jpg" alt="">
          </div>
          <div class="pictures">
            <img src="/assets/Taswira images/art .jpg" alt="">
          </div>
          <div class="pictures">
            <img src="/assets/Taswira images/pets.jpg" alt="">
          </div>
          <div class="pictures">
            <img src="/assets/Taswira images/native art.jpg" alt="">
          </div> -->

        </div>
       

      </div>
    </section>
    
    <section class="mobile-toolbar  section section1" id="top-phone">
      <div class="content">
        <div class="center">
          <div class="title">
            <div class="logo">
              <img src="assets/Taswira2030.png" alt="">
            </div>
            <div class="title-caption">
              <h1>Welcome to <br> Taswira </h1>
            </div>
          </div>
        
          <div class="bigger-links">
            <span class="menu-links link-1">About</span>
            <span class="menu-links link-2">Explore</span>
            <span class="menu-links link-3"(click)="toggleLoginDialog()" >Sign in</span>
          </div>
          <div class="smaller-links">
            <a (click)="toggleRegisterDialog()">Am not a member? Register</a>
            <a>Are you a Business? start here</a>
          </div>
          <div class="terms-policy">
            <p>By continuing , you agree to Taswira's terms of Service and acknowlege you've read our Privacy Policy.</p>
          </div>

        </div>

      </div>

        <button class="scrolldown-btn">
          <mat-icon>keyboard_arrow_down</mat-icon>
        </button>
      

      <div class="scroll-down">
       
          <p >Here is how it works <mat-icon>keyboard_arrow_down</mat-icon></p>

          
           
        
      </div>    
    </section>
    
    
    <app-login *ngIf="openloginDialog"  (openDialog)="closeLogin($event)" (openRegisterPage)="toggleRegisterDialog()" (is_logged_in)="confirmLoggedIn($event)"></app-login>
    <app-register *ngIf="openRegisterDialog" (openRegister)="closeRegister($event)"  (navigateToLogin)="toggleLoginDialog()"></app-register>
    
    

   
    
    
    
    
    <section class="cover-section  intro-page">
      <div class="pictures">
        <img src="/assets/Taswira images/home decor.jpg" alt="">
      </div>
      <div class="pictures">
        <img src="/assets/Taswira images/pets 4.jpg" alt="">
      </div>
      <div class="pictures">
        <img src="/assets/Taswira images/health and workout 2.jpg" alt="">
      </div>
      <div class="pictures">
        <img src="/assets/Taswira images/health and workout.webp" alt="">
      </div>
      <div class="pictures">
        <img src="/assets/Taswira images/lipstick .webp" alt="">
      </div>
      <div class="pictures">
        <img src="/assets/Taswira images/fashion-beauty.jpg" alt="">
      </div>
      <div class="pictures">
        <img src="/assets/Taswira images/african food.jpg" alt="">
      </div>
      <div class="pictures">
        <img src="/assets/Taswira images/nature.jpg" alt="">
      </div>
      <div class="pictures">
        <img src="/assets/Taswira images/fitness.jpg" alt="">
      </div>
      <div class="pictures">
        <img src="/assets/Taswira images/art .jpg" alt="">
      </div>
      <div class="pictures">
        <img src="/assets/Taswira images/pets.jpg" alt="">
      </div>
      <div class="pictures">
        <img src="/assets/Taswira images/native art.jpg" alt="">
      </div>
        
    </section>
    
    
    <section class="cover-section   food" id="search">
      <h1 class="title">Easy Chicken dinner.</h1>
      <div class="section-container">
        <div class="section-images-container">
          <div class="images">
            <img class="image4" src="/assets/Taswira images/food 11.avif" alt="">
            
            <img class="image1" src="/assets/Taswira images/food 10.jpg" alt="">
          
          
            <img class="image2" src="/assets/Taswira images/food 13.jpeg" alt="">
          
          
          
            <img class="image3"  src="/assets/Taswira images/food 12.jpeg" alt="">
           
            
          </div>
        </div>
        <div class="section-more-container">
          <h1>Search for an idea</h1>
          <p>What do you want to try next? Think of something you're into - like "Easy chicken dinner" - and see what you find.</p>

          <button class="explore">Explore</button>
        </div>
      </div>
      
    
    </section>
    <section class="cover-section fashion" id="try">
      <div class="section-container">
        <div class="section-images-container">
          <div class="main-image">
            <img src="/assets/Taswira images/fashion 4.jpg" alt="fashion">
          </div>
          <div class="avatar">
            <img src="/assets/Taswira images/fashion 3.jpg" alt="fashion3">              
          </div>
          <div class="caption">
            <small>Nelly Hadja</small><small>
              10.2k likes
            </small>
          </div>
          <div class="compliment-images">
            <div class="status">
              <div class="state">
                <span><span class="span2"></span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
              
              </div>
              
              <img src="/assets/Taswira images/fashion 2.webp" alt="">
            </div>

            
          </div>
        </div>
        <div class="section-more-container">

          <h1>See it, make it, try it ,do it</h1>
          <p>The best part of Taswira is discovering new things and ideas from people around the world.</p>

          <button class="explore">Explore</button>

        </div>
      </div>
      
    
    </section> 
    <section class="cover-section gadgets" id="save">
      <div class="section-container">
        <div class="section-images-container">
          
            <img class="image1" src="/assets/Taswira images/gadgets.jpg" alt="">
         
          
            <img class="image2" src="/assets/Taswira images/gadgets 10.jpeg" alt="">
          
          
            <img  class="image-center" src="/assets/Taswira images/gadgets 4.jpg" alt="">
          
          
            <img class="image3" src="/assets/Taswira images/gadget 12.jpeg" alt="">
          
         
            <img class="image4" src="/assets/Taswira images/gadget 20.jpeg" alt="">
          
        </div>
        <div class="section-more-container">
          <h1>Save the ideas you like</h1>
          <p>Collect your favorites so you can get back to them later.</p>

          <button class="explore">Explore</button>

        </div>
      </div>
      
    
    </section>

   
    <section class="cover-section  end-page" id="bottom">
      <div class="bottom">
        <div class="content">      
        
        <div class="center">
          <div class="title">
            <div class="logo">
              <img src="assets/Taswira2030.png" alt="">
            </div>
            <div class="title-caption">
              <h1>Signup and explore best ideas in the world</h1>
            </div>
          </div>
        
          <div class="bigger-links">
            
            <span class="menu-links link-2">Explore</span>
            <span class="menu-links link-3"(click)="toggleLoginDialog()" >Sign in</span>
          </div>

          
          

        
        
        </div>

        <app-login/>


        <div class="footer">
          <a href="#">
            Users
          </a><a href="#">
            Today
          </a><a href="#">
            Popular
          </a><a href="#">
            Collections
          </a><a href="#">
            Shop          
          </a>
        </div>

      </div>
      
      </div>




      
      <div class="pictures">
        <img src="/assets/Taswira images/pets 4.jpg" alt="">
      </div>
      
      <div class="pictures">
        <img src="/assets/Taswira images/health and workout.webp" alt="">
      </div>
      <div class="pictures">
        <img src="/assets/Taswira images/art .jpg" alt="">
      </div>
      <div class="pictures">
        <img src="/assets/Taswira images/lipstick .webp" alt="">
        
      </div>
      <div class="pictures pc-bg-image">
        <img src="/assets/Taswira images/native art.jpg" alt="">
      </div>
      <div class="pictures">
        <img src="/assets/Taswira images/health and workout 2.jpg" alt="">
      </div>
      <div class="pictures">
        <img src="/assets/Taswira images/fashion-beauty.jpg" alt="">
      </div>
      
      <div class="pictures " >
        <img src="/assets/Taswira images/nature.jpg" alt="">
      </div>
      <div class="pictures">
        <img src="/assets/Taswira images/fitness.jpg" alt="">
      </div>
      <div class="pictures">
        <img src="/assets/Taswira images/african food.jpg" alt="">
      </div>
     
      <div class="pictures">
        <img src="/assets/Taswira images/pets.jpg" alt="">
      </div>
      
      <div class="pictures">
        <img src="/assets/Taswira images/home decor.jpg" alt="">
      </div>
        
    </section>
    
      
      
      
        
    


   
    
    
    
    
    

    

</div>




    
    
    
    
