
<div class="home-hero">
  <div class="overlay" *ngIf="openRegisterDialog || openloginDialog "></div>
  <mat-toolbar class="desktop-toolbar">
    <div class="left-end">
        <img src="sanaamnara.png" alt="logo">
        <span>Explore</span>
        <mat-icon>apps</mat-icon>
      </div>
      <div class="middle"></div>
      <div class="right-end">
        <span class="menu-links">About</span>
        <span class="menu-links">Business</span>
        <span class="menu-links">Blog</span>
        <div class="auth-btns">
          <button class="accounts-btn login-btn"(click)="toggleLoginDialog()">Login</button>
          <button class="accounts-btn register-btn" (click)="toggleRegisterDialog()">Register</button>
        </div>
        
      </div>
    </mat-toolbar>
    
    <section class="mobile-toolbar  section section1">
      <div class="title">
        <div class="logo">
          <img src="assets/sanaamnara.png" alt="">
        </div>
        <div class="title-caption">
          <h1>Welcome to <br> Sanaamnara </h1>
        </div>
      </div>
    
      <div class="bigger-links">
        <span class="menu-links link-1">About</span>
        <span class="menu-links link-2">Business</span>
        <span class="menu-links link-3"(click)="toggleLoginDialog()" >Sign in</span>
      </div>
      <div class="smaller-links">
        <p (click)="toggleRegisterDialog()">Am not a member? Register</p>
        <p>Are you a Business? start here</p>
      </div>
      <div class="terms-policy">
        <p>By continuing , you agree to Sanaamnara's terms of Service and acknowlege you've read our Privacy Policy.</p>
      </div>
    
    </section>
    
    
    <app-login *ngIf="openloginDialog"  (openDialog)="closeLogin($event)" (openRegisterPage)="toggleRegisterDialog()" (is_logged_in)="confirmLoggedIn($event)"></app-login>
    <app-register *ngIf="openRegisterDialog" (openRegister)="closeRegister($event)"  (navigateToLogin)="toggleLoginDialog()"></app-register>
    
    

   
    
    
    
    
    <section class="cover-section">
      <div class="pictures"><img src="assets/posts/09c425a620ef85396902f3441b06c9b0.jpg" alt=""></div>
      <div class="pictures"><img src="assets/posts/35463c2cc8bf49ea2a4d501f99313115.jpg" alt=""></div>
      <div class="pictures"><img src="assets/posts/389e18b7ed9055a6d70bba8ef1ea5a35.jpg" alt=""></div>
      <div class="pictures"><img src="assets/posts/545575d7c9383597795205329da53a18.jpg" alt=""></div>
      <div class="pictures"><img src="assets/posts/5b9a9102ea30fd65a8ed22c335e9eb4f.jpg" alt=""></div>
      <div class="pictures"><img src="assets/posts/64abe013db9d80921b5e0ca975962f32.jpg" alt=""></div>
      <div class="pictures"><img src="assets/posts/6c6f34c823c6e6b443998ba673ddd897.jpg" alt=""></div>
      <div class="pictures"><img src="assets/posts/64abe013db9d80921b5e0ca975962f32.jpg" alt=""></div>
      <div class="pictures"><img src="assets/posts/ff98549eba4972b8d1c8b7482ed723d3_XXUSb9Y.jpg" alt=""></div>
      <div class="pictures"><img src="assets/posts/f5466238368059bc830efee48e46e1ad.jpg" alt=""></div>
      <div class="pictures"><img src="assets/posts/ed4f4134ad515c83220d7bd884a730b7.jpg" alt=""></div>
      <div class="pictures"><img src="assets/posts/f5466238368059bc830efee48e46e1ad_ismxnBV.jpg" alt=""></div>  
    </section>
    
    
    <section class="">
      
    
    </section>
    
    
    
    
    

    

</div>

    
    
    
    
