$primary-color : rgb(243, 243, 243);
$secondary-color : rgb(234, 186, 234);
$icons-button-utils-color : purple;
$font-size-big : 1.4rem;
$font-size-middle : 1.1rem;
$font-size-small: .8rem;
$font-weight-small: 400;
$font-weight-middle: 550;
$font-weight-big : 600;
$text-theme-color-dark: black;
$text-theme-color-light: white;
$warning-color: rgb(172, 16, 42);


.connection-error{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    h1{
        color: $secondary-color;
        font-size: 2.5rem;
        font-weight: 700;
    }
}

.home-body{
    width: 100vw;
    height: 100%;
    position: relative;
    
    mat-toolbar{
        margin: 0;
        position: fixed;
        bottom: 0;   
        left: 0;
        z-index: 9999;
    }

    app-popup{
        z-index: 10000;
        margin: 0;
        bottom: 0;
        position: fixed;
    }
}

.home-container{
    width: 80vw;
    justify-content: center;
    margin-top: 70px;  
    display: block;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    position: relative;

    .waiting{
        padding-top: 30px;
        h1{
            justify-content: center;
            text-align: center;
            font-size: $font-size-middle;
            font-weight: $font-weight-middle;
            color: $icons-button-utils-color;
            margin-top: 30px;
        }
    }

    button{
        border: none;
        width: fit-content;
        height: fit-content;
        background-color: transparent;
        cursor: pointer;

       
    }
    .save{
        padding:5px 10px 5px 10px;
        position: absolute;
        height: 40px;
        border-radius: 15px;
        padding: 0 10px 0 10px ;
        background-color: $icons-button-utils-color;
        color: $primary-color;
        font-size: .9rem;
        font-weight: bold;
        top: 10px;
        right: 10px;
        display: none;
        opacity: .9;

        &:hover{
            opacity: 1;
        }
        &:disabled{
            background-color: $text-theme-color-dark;
            cursor: not-allowed;
        }
    }
    .upload , .more{
        position: absolute;
        justify-content: center;
        align-items: center;
        background-color: $primary-color;
        padding: 0;
        height: 30px;
        width: 30px;
        border-radius: 15px;
        display: none;
        mat-icon{
            margin: 0;
            padding: 0;
            color: $icons-button-utils-color;
            align-self: center;
            justify-self: center;
            vertical-align: middle;
            
        }
    }
    .more{
        bottom: 10px;
        right: 10px;
    }
    .upload{
        bottom: 10px;
        left: 10px;
    }
    .pins-hero{        
        height: 100%;
        width: 100%;
        columns: 6;
        



        .pin-container{
            width: fit-content;
            break-inside: avoid;          
            
            padding: 0;
            margin: 0;

            .pin-owner-description{
                display: flex;
                justify-content: space-between;

                .owner-profile{
                    width: 30px;
                    height: 30px;
                    border-radius: 15px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: $text-theme-color-dark;
                    font-weight: $font-weight-middle;
                }
                .description{
                    p{
                        width: 100%;
                        word-wrap: break-word;
                        padding: 0;
                        margin: 0;
                    }
                }
            }
            
            cursor: pointer;

            .pin{
                position: relative;
                width: fit-content;

            }

            img{
                width: 100% !important;
                margin: 0;
                padding: 0;
                border-radius: 15px;

            }
            &:hover{
                .save , .more, .upload{
                    display: block;  
                }
                              
            }
            
        }
        
    }
}


@media only screen and (max-width: 310px) {
    .home-container{
        width: 80vw !important;
        margin-top: 10px !important;
    }
    .pins-hero{        
        columns: 1 !important;
    }
    
    .pin-container:hover{
        .save , .more, .upload{
            display: none;  
        }
    }
    
   
}


@media only screen and (min-width: 311px) and (max-width: 500px) {
    .home-container{
        width: 95vw !important;
        margin-top: 10px !important;
    }
    .pins-hero{        
        columns: 2 !important;
    }
    .pin-container:hover{
        .save , .more, .upload{
            display: none !important;  
        }
    }
   
}

@media only screen and (min-width: 501px) and (max-width: 650px){
    .home-container{
        width: 75vw !important;
        margin-top: 10px !important;
    }
    .pins-hero{        
        columns: 2 !important;
    }
    .pin-container:hover{
        .save , .more, .upload{
            display: none !important;  
        }
    }
    
    
}
@media only screen and (min-width: 651px) and (max-width: 750px){
    .home-container{
        width: 92vw !important;
        margin-top: 10px !important;
    }
    .pins-hero{        
        columns: 3 !important;
    }
    .pin-container:hover{
        .save , .more, .upload{
            display: none !important;  
        }
    }

}
@media only screen and (min-width: 751px) and (max-width: 850px) {
    .home-container{
        width: 85vw !important;
        margin-top: 10px !important;
    }
    .pins-hero{        
        columns: 3 !important;
    }
    .pin-container:hover{
        .save , .more, .upload{
            display: none !important;  
        }
    }
    
}
@media only screen and (min-width: 851px) and (max-width: 1000px) {
    .home-container{
        width: 80vw !important;
        margin-top: 10px !important;
    }
    .pins-hero{        
        columns: 3 !important;
    }
    
}

@media only screen and (min-width: 1001px) and (max-width: 1100px) {
    .home-container{
        width: 80vw !important;
    }
    .pins-hero{        
        columns: 4 !important;
    }
}
@media only screen and (min-width: 1101px) and (max-width: 1300px) {
    .home-container{
        width: 95vw !important;
    }
    .pins-hero{        
        columns: 5 !important;
    }
}
@media only screen and (min-width: 1301px) and (max-width: 1400px) {
    .home-container{
        width: 90vw !important;
    }
    .pins-hero{        
        columns: 5 !important;
    }
}




  
 