
<div class="home-body">

  <app-popup (closePopup)="closeMorePopup($event)" *ngIf="open_popup"></app-popup>  
  <app-toolbar (click)="open_popup = false"></app-toolbar>
  <div class="connection-error" *ngIf="connection_failed">
    <h1 >Oops connection failed!</h1>
  </div>
  <div class="waiting" *ngIf="loading">
    <app-spinner *ngIf="loading"></app-spinner>
    <h1>Loading interests on Home feed!</h1>
  </div>
  <div class="home-container" *ngIf="!connection_failed">
    
    <div class="pins-hero"  *ngIf="!loading">
      <div class="pin-container" *ngFor="let pin of pins_list">
        <div class="pin">
          <button class="icons save"(click)="savePostToMyProfile(pin.id)" [disabled]="pin.saved">
            {{pin.saved? 'saved': 'save'}}
          </button>
          
          <button class="icons upload">
            <mat-icon>share</mat-icon>
          </button>
          <button class="icons more">
            <mat-icon>more_horiz</mat-icon>
          </button>  
          
          <img loading="lazy" class="lazy-waiting" [src]="pin.image+timestamp  |slice :67" [alt]="pin.image+timestamp  |slice :67" (click)="navigateToCheckout(pin.id)">

      </div>

      <div class="pin-owner-description">
          <div class="description">
            <small>this is a description</small>
          </div>
          <div class="phone-more" (click)="openPopupMenu(pin.id)">
            <mat-icon>more_horiz</mat-icon>
          </div>          
      </div>
      </div>
      
    </div>

  </div>
  
</div>