<mat-toolbar class="desktop-toolbar"  TaswiraTheme>
    <div class="left-end logged-menu">
      <img src="assets/Taswira2030.png" alt="logo" (click)="navigateToHome()">
      
      <span (click)="navigateToCreate()">Create</span>

      <button class="search-btn" (click)="toggleOnAutoComplete()"><mat-icon class="search-icon">
        search</mat-icon></button>

      
      
    </div>
    
    <div class="right-end  logged-menu">
      <button><mat-icon class="notifications">notifications</mat-icon></button>
      <button class="profile-btn" (click)="navigateToProfile()">{{profile_username | uppercase | slice :0:2}}</button>   
    </div>
  </mat-toolbar>



  <mat-toolbar class="mobile-toolbar" TaswiraTheme>
    <app-mobile-search *ngIf="open_mobile_search_popup"></app-mobile-search>
    <div class="menus">
      <img src="assets/Taswira2030.png" alt="logo" (click)="navigateToHome()">
      <mat-icon class="query-btn" (click)="open_mobile_search_popup =! open_mobile_search_popup">{{open_mobile_search_popup? 'close': 'search'}}</mat-icon>
      <mat-icon class="message-btn" (click)="navigateToMobileNotify()">notifications</mat-icon>
      <div class="mobile-profile" (click)="navigateToProfile()">
        <button>{{profile_username | uppercase | slice :0:2}}</button>
      </div>
    </div> 
     
  
      
  </mat-toolbar>
  
  <app-search-auto-complete  [ngClass]="openSearchAutoComplete? 'block': 'none'"></app-search-auto-complete>
  <div class="overlay-search-container" [ngClass]="openSearchAutoComplete? 'block': 'none'" (click)="dismissSearchContainer()"></div>
  
