<mat-toolbar class="desktop-toolbar">
    <div class="left-end logged-menu">
      <img src="sanaamnara.png" alt="logo" (click)="navigateToHome()">
      
      <span (click)="navigateToCreate()">Create</span>
      
    </div>
    <div class="middle">
      <div class="search-container">
        <form  [formGroup]="searchData">
        <mat-icon class="search-icon">search</mat-icon>
        <mat-icon class="close-icon" *ngIf="searchData.get('query')?.dirty && searchData.get('query')?.value != '' "
        (click)="searchData.get('query')?.reset()"
        >close</mat-icon>
        
  
        <input type="text" placeholder="Search here" id="query" formControlName="query" (focus)="toggleOnAutoComplete()" (blur)="toggleOffAutoComplete()" >
      </form>
          
      </div>
      <!-- autocomplete seaching is here -->
      <div class="search-autocomplete" *ngIf="openSearchAutoComplete">
        <app-search-auto-complete [query]="query_subject"></app-search-auto-complete>
      </div>
  
    </div>
    <div class="right-end  logged-menu">
      <mat-icon class="notifications">notifications</mat-icon>
      <button class="profile-btn" (click)="navigateToProfile()">{{profile_username | uppercase | slice :0:2}}</button>   
    </div>
  </mat-toolbar>



  <mat-toolbar class="mobile-toolbar">
    <div class="menus">
      <mat-icon class="home-btn" (click)="navigateToHome()">home</mat-icon>
      <mat-icon class="query-btn" (click)="navigateToMobileSearch()">search</mat-icon>
      <mat-icon class="message-btn" (click)="navigateToMobileNotify()">notifications</mat-icon>
      <div class="mobile-profile" (click)="navigateToProfile()">
        <button>{{profile_username | uppercase | slice :0:2}}</button>
      </div>
    </div>
    
  
      
  </mat-toolbar>
  <div class="overlay-search-container" *ngIf="openSearchAutoComplete"></div>
  
  
