
app-mobile-search{
    position: fixed;
    bottom: 50px;
    left: 0;
    z-index: 9999;

}
mat-toolbar{
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    color: var(--text-theme-color);
    align-items: center;
    height: 70px;
    width: 100vw;
    box-shadow: 2px 3px var(--primary-color2);
    
    
   
    

    .left-end ,.right-end{
        padding-left: 20px;

        span{
            color: var(--text-theme-color);
            font-weight: var(--font-weight-big);
            font-size: var(--font-size-middle);
            padding: 5px;
            cursor: pointer;
        }
    }
    
    .left-end{
        justify-content: center;
        align-items: center;
        text-align: center;
        display: flex;

        span{
            padding-left: 10px;
            padding-right: 10px;
        }

        img{
            height: 40px;
            width: 40px;
            margin-left: auto;
            margin-right: auto;
        }
        
        mat-icon{
            align-self: center;
            justify-self: center;
            text-align: center;
        }
        .search-btn{
            width: fit-content !important;
            background-color: transparent;
            display: flex;
            justify-content: center;

        
        }
    }
    
    .right-end{
        display: flex;
        justify-content: center;
        align-items: center;
        .profile-btn{
            display: flex;
            justify-content: center;
            align-items: center;
            vertical-align:middle;
            height: 30px;
            width: 30px;
            align-self: center;
            font-size: var(--font-size-small);
            font-weight: var(--font-weight-middle);
            color: var(--icons-button-utils-color);
            border-radius: 15px;
            border: 2px solid var(--icons-button-utils-color);
        }
    }
}
.mobile-toolbar{
    display: none;    
    background-color: var(--primary-color2);  
    justify-content: space-between; 
    position: fixed;
    bottom: 0 !important;
    left: 0; 
    z-index: 9999;
   
    box-sizing: border-box;

    .menus{
        display: flex;
        margin-left: 20px;
        width: 100%;
        justify-content: space-between;
        margin-right: 20px;
    }
   
    

    .query-btn{
        font-size: 2.2rem;
        font-weight: 900 !important;

    }
    img{
        height: 35px;
    }
    

    .mobile-profile{
        button{
            height: 34px;
            width: 34px;
            display: flex;
            font-size:var(--font-size-small);
            font-weight: var(--font-weight-middle);
            color: var(--icons-button-utils-color);
            border: 2px solid var(--icons-button-utils-color);
            
            padding: 0;
            margin: 0;
            cursor: pointer;
            border-radius: 17px;
            justify-content: center;
            align-items: center;
        }
    }
}

.desktop-toolbar{
    display: flex;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0; 
}




@media only screen  and (max-width: 1000px) {
    mat-toolbar{
        height: 60px !important;
        position: fixed;
        bottom: 0 !important;
    }
    .desktop-toolbar{
        display: none;
    }
    .mobile-toolbar{
        display: flex;
    }
   
}



@media only screen and (min-width: 1001px){
    .desktop-toolbar{
        display: flex;
    }
    .mobile-toolbar{
        display: none;
    }
}

mat-icon{
    color: var(--icons-theme);
    justify-self: center;
    align-self: center;
    font-size: 20px;
    margin-left: 5px;
    margin-right: 5px;
}

button{
   
    border: none;
    margin: 10px 10px 10px 10px;
    cursor: pointer;
    background-color: transparent;
}
.overlay-search-container{
    height: 100vh !important;
    width: 100%;
    overflow: none;
    position: fixed;
    top: 64px;// height of the toolbar
    background-color: rgba(0, 0, 0 , .6);
    z-index: 1000;

   

}
.overlay-search-container.none{
    display: none;
}
app-search-auto-complete{
    position: absolute;
    top: 70px;   
    z-index: 9999;
    left: 50%;
    transform: translateX(-50%);

}
app-search-auto-complete.none{
    display: none;
}


mat-icon{
    font-size: 2.2rem !important;
    width: fit-content !important;
    height: fit-content;
    color: var(--icons-theme) !important;
    cursor: pointer !important;
}






