<div class="profile-changes-container" TaswiraTheme>

    <button class="back" (click)="moveBack()">
        <mat-icon >navigate_before</mat-icon>
    </button>
    <app-toolbar></app-toolbar>

    <div class="prompt-password-overlay" *ngIf="promptPassword"></div>

    <div class="prompt-password-container" *ngIf="promptPassword">
        
        <div class="prompt-cont">
            <button class="close" (click)="closePromptpassword()">
                <mat-icon>close</mat-icon>
            </button>
            <p>This is for security reasons</p>

            <small class="none">Wrong password!</small>

            <div class="input-submit">
                <input type="password" placeholder="Enter password">
                <button class="submit">submit</button>
            </div>
           
        </div>
    </div>

    <div class="changes-card">
        <div class="division">
            <div class="sub-divisions">
                <div class="info">          
                    <div class="photo-info">
                        <div class="photo">
                            <img src="/assets/home-photos/Air Jordan 1 _ Venom • Spider-Man Mash-Up.png" alt="">                
                        </div>
                        <p class="caption">Photo</p>
                    </div>
                </div> 
                <button class="edit">change</button> 
            </div>

        </div>
        
        <div class="division">
            <div class="sub-divisions" *ngIf="!nameChangesOpened">
                <div class="info">
                    <p>Name</p>
                    <small>Bonface Romni</small>

                    <small class="smaller">Updated on</small>
                </div>
                <button class="edit" (click)="openNameChanges()">edit</button> 

            </div>          

            <div class="changes" *ngIf="nameChangesOpened">
                <p>Name</p>
                <div class="inputs">
                    <label for="firstname">Firstname</label>
                    <input type="text" id="firstname">
                </div>
                <div class="inputs">
                    <label for="lastname">Lastname</label>
                    <input type="text" id="lastname">
                </div>
                <div class="inputs">
                    <label for="username">Username</label>
                    <input type="text" id="username">
                </div>

                <div class="change-actions">
                    <button class="cancelbtn change-btn review" (click)="nameChangesOpened = false">
                        cancel
                    </button>
                    <button class="change-btn make-changesbtn" (click)="openPromptpassword()">
                        Make changes
                    </button>
                </div>
            </div>


        </div>
        <div class="division">
            <div class="sub-divisions"*ngIf="!contactChangesOpened">
                <div class="info">
                    <p>Contact</p>
                    <small>bonfaceny&commat;gmail.com</small>
                    <small class="smaller">Updated on</small>
                </div>
                <button class="edit" (click)="openContactChanges()">edit</button> 
            </div>
            <div class="changes" *ngIf="contactChangesOpened">
                <p>Contact</p>
                <div class="inputs">
                    <label for="email">Email</label>
                    <input type="text" id="email">
                </div>
                <div class="inputs">
                    <label for="phone">Phone number</label>
                    <input type="text" id="phone">
                </div>
                

                <div class="change-actions">
                    <button class="cancelbtn change-btn review" (click)="contactChangesOpened = false">
                        cancel
                    </button>
                    <button class="change-btn make-changesbtn" (click)="openPromptpassword()">
                        Make changes
                    </button>
                </div>
            </div>

        </div>
        
        <div class="division">
            <div class="sub-divisions" *ngIf="!passwordChangesOpened">
                <div class="info">
                    <p>Password</p>
                    <small>**********</small>
                    <small class="smaller">Updated on</small>
                </div>
                <button class="edit" (click)="openPasswordChanges()">change</button> 
            </div>

            <div class="changes" *ngIf="passwordChangesOpened">
                <p>Password</p>
                <div class="inputs">
                    <label for="oldpassword">Old password</label>
                    <input type="text" id="oldpassword">
                </div>
                <div class="inputs">
                    <label for="newpassword">New password</label>
                    <input type="text" id="newpassword">
                </div>
                <div class="inputs">
                    <label for="confirmpassword">Confirm Password</label>
                    <input type="text" id="confirmpassword">
                </div>

                <div class="change-actions">
                    <button class="cancelbtn change-btn review" (click)="passwordChangesOpened = false">
                        cancel
                    </button>
                    <button class="change-btn make-changesbtn" (click)="openPromptpassword()">
                        Make changes
                    </button>
                </div>
            </div>

        </div>
        
    </div>

</div>
