<div class="profile-changes-container" TaswiraTheme>




    



    <button class="back" (click)="moveBack()">
        <mat-icon >navigate_before</mat-icon>
    </button>
    <app-toolbar></app-toolbar>





    
    <div class="changes-card">
        <div class="sub-divisions">
            <div class="info">          
                <div class="photo-info">
                    <div class="photo">
                        <img src="/assets/home-photos/275b4ea0-e3b7-4c45-955f-cb7370b67a44.jpeg" alt="">                
                    </div>
                    <p class="caption">Photo</p>
                </div>
            </div> 
            <button class="edit">change</button> 
        </div>
        <div class="sub-divisions">
            <div class="info">
                <p>Name</p>
                <small>bonface</small>
            </div>
            <button class="edit">edit</button> 

        </div>
        <div class="sub-divisions">
            <div class="info">
                <p>Contact</p>
                <small>bonfaceny&commat;gmail.com</small>
            </div>
            <button class="edit">edit</button> 
        </div>
        <div class="sub-divisions">
            <div class="info">
                <p>Password</p>
                <small>**********</small>
            </div>
            <button class="edit">change</button> 
        </div>
    </div>

</div>
