$primary-color : rgb(243, 243, 243);
$secondary-color : #6730fb;
$icons-button-utils-color : #330099;
$font-size-big : 1.4rem;
$font-size-middle : 1.1rem;
$font-size-small: .8rem;
$font-weight-small: 400;
$font-weight-middle: 550;
$font-weight-big : 600;
$text-theme-color-dark: black;
$text-theme-color-light: white;
$warning-color: rgb(172, 16, 42);




.create-hero{
    width: 100vw;
    height: fit-content;
    margin: 0;
    padding: 0;
    margin-top: 70px !important;
    margin-right: auto;
    margin-left: auto;
    display: grid;
    grid-template-columns: 300px 300px;
    background-color: $primary-color;
    width: fit-content;

    .form1{
        display: flex;
        width: fit-content;
        justify-content: center;
        align-items: center;
        vertical-align: middle;
    }
    

    .preview-upload{
        width: 200px;
        height: 200px;
        position: relative;
        border-radius: 20px;
        overflow: hidden;
        margin: 20px;
        
        
        img{
            width: 100%;
            height: 100%;
            object-fit:cover;
        }
        button{
            position: absolute;
            right: 10px;
            top: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $primary-color;
            border: 1px solid $icons-button-utils-color;
            box-shadow: 2px 2px 5px black;
            width: 30px;
            height: 30px;
            font-family: 'montserrat-semibold';
            padding: 0;
            margin: 0;
            cursor: pointer;
            border-radius: 15px;
            &:hover{
                background-color: $secondary-color;
                color: $primary-color;
            }
            mat-icon{
                padding: 0;
                margin: 0;
                color: $icons-button-utils-color;

                
            }
        }
    }
    .drag-drop-container{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $text-theme-color-light;
        width: 260px;
        height: 260px;
        border-radius: 20px;
        padding: 0;
        padding: 20px;

        .input-container{
            width: 100%;
            height: 100%;
            border: 2px dashed $secondary-color;
            border-radius: 20px;
            background-color: $primary-color;
            overflow: hidden;
        }
        label{
           display: block;
           height: 260px;
           width: 260px;
           font-family: 'montserrat-semibold';
        }
        



    }
    .drag-drop-container.displayNone{
        display: none;
    }
}

.Publish-btn{
    position: absolute;
    cursor: pointer;
    display: flex;
    top: 70px;// height of navbar included
    right: 10px;
    background-color: $icons-button-utils-color;
    color: $primary-color;
    border: 2px solid $icons-button-utils-color;
    padding: 0 15px 0 15px;
    height: 40px;
    border-radius: 20px;
    font-weight: $font-weight-middle;
    font-size: $font-size-small;
    justify-content: center;
    align-items: center;
    min-width: 110px;
    font-family: 'montserrat-semibold';
    &:disabled{
        opacity: .3;
        cursor: not-allowed;
    }
    .process{
        display: flex;
        height: fit-content;
        align-self: center;
        justify-self: center;
    }
    .process.processing{
        color: $icons-button-utils-color;
        padding-left: 5px;
    }
}
.Publish-btn.processing{
    background-color: $primary-color;
    color: $icons-button-utils-color;
}
.drag-drop-captions{
    justify-content: center;
    mat-icon{
        color: $secondary-color;
        font-size: 80px;
        width: 100px;
        height: 100px;
        display: flex;
        justify-content: center;
        text-align: center;
        vertical-align: middle;
        margin-left: auto;
        margin-right: auto;
    }

    h1{
        padding: 0;
        margin: 0;
        text-align: center;
        margin-top: 20%;
        font-size: $font-size-middle;
        font-weight: $font-weight-middle;
        line-height: $font-size-middle;
        font-family: 'montserrat-semibold';
    }
    p{
        padding: 0;
        margin: 0;
        text-align: center;
        font-size: $font-size-small;
        font-weight: $font-weight-middle;
        color: $icons-button-utils-color;
        font-family: 'montserrat-semibold';
    }

    
}


.post-description{
    display: flex;
    margin: 10px;
    height: fit-content;
    position: relative;

    
    
    

    .description-form form{
        width: 250px;
        position: relative;


        
        

        .required{
            display: block;
            
        }
        label{
            font-size: $font-size-small;
            font-weight: $font-weight-middle;
            display: block;
            font-family: 'montserrat-semibold';
        }
        input, textarea{
            background-color: transparent;
            border: 2px solid $secondary-color;
            border-radius: 10px;
            resize: none;
            outline: none;
            width: calc(100% - 22px);
            height: 40px;
            padding: 0;
            padding: 0 10px 0 10px;
            font-family: 'montserrat-semibold';
            
        }
        #description{
            height: 80px;
            width: calc(100% - 20px);
            padding-top: 10px;
            padding-bottom: 10px;
            overflow-y: auto;
            &::placeholder{
                content: 'write your description here';
            }
        }
    }

}


@media screen and (max-width : 1000px) {
    .create-hero{
        display: block !important;
        
    }
    .Publish-btn{
        top: 20px !important;
    }
    
    
    .drag-drop-container{
        width: fit-content !important;
        height: fit-content !important;
        padding: 0 !important;
        .input-container{
            border: 2px solid $secondary-color !important;
            label{
                display: block;
                height: fit-content !important;
                width: fit-content !important;
                padding: 10px;                
                font-family: 'montserrat-semibold';
                background-color: $text-theme-color-light;
             } 

        }
        

        .drag-drop-captions{
            mat-icon{
                display: none;
                
            }
            h1{
                display: none;
            }
            p{
                color: $secondary-color;
                span{
                    display: none;
                }
            }
        }
    }
}

