@import '../utils';

.loading{
    margin-top: 100px;
    app-spinner{
        margin-left: auto;
        margin-right: auto;
        padding: 20px 0 20px 0;
    }
    p{
        text-align: center;
        color: $secondary-color;
        font-weight: $font-weight-middle;
        font-size: $font-size-middle;
        margin: 0;
        padding: 0;
        padding: 20px 0 20px 0;
        font-family: 'montserrat-semibold';
    }
}
.posts-container{
    width: 80vw !important;
    justify-content: center;
    display: block;
    align-items: center;
    margin-left: auto;
    margin-right: auto;

    .heading{
        color: $icons-button-utils-color;
        font-weight: $font-weight-middle;
        font-family: 'montserrat-semibold';
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .add-pins{

        .add{
            display: block;
            background-color: $text-theme-color-light;
            border-radius: 10px;
            cursor: pointer;
            position: relative;
            width: fit-content;
            margin: 0 auto 0 auto;
            
            p{
                color: $secondary-color;
                font-size: $font-size-middle;
                font-weight: $font-weight-middle;
                width: fit-content;
                padding: 10px 20px 10px 20px;
                margin: 0;
                font-family: 'montserrat-semibold';
            }
                     

        }
    }

    button{
        border: none;
        width: fit-content;
        height: fit-content;
        background-color: transparent;
        font-family: 'montserrat-semibold';
        cursor: pointer;

       
    }
    .save{
        padding:5px 10px 5px 10px;
        position: absolute;
        height: 40px;
        border-radius: 15px;
        padding: 0 10px 0 10px ;
        color: $primary-color;
        font-size: .9rem;
        font-weight: bold;
        font-family: 'montserrat-semibold';
        top: 10px;
        right: 10px;
        display: none;
        opacity: .9;
        background-color: $icons-button-utils-color;

        &:hover{
            opacity: 1;
        }
    }
    .save:disabled{
        background-color: $text-theme-color-dark;
        cursor: not-allowed;
    }
    .save.delete{
        background-color: $warning-color;
    }
   
    .upload , .more{
        position: absolute;
        justify-content: center;
        align-items: center;
        background-color: $primary-color;
        padding: 0;
        height: 30px;
        width: 30px;
        display: flex;

        border-radius: 15px;
        display: none;
        mat-icon{
            margin: 0;
            padding: 0;
            display: flex;
            color: $icons-button-utils-color;
            align-self: center;
            justify-self: center;
            vertical-align: middle;
            margin-left: auto;
            margin-right: auto;
            
        }
    }
    .more{
        bottom: 10px;
        right: 10px;
    }
    .upload{
        bottom: 10px;
        left: 10px;
    }
    .pins-hero{        
        height: 100%;
        width: 100%;
        columns: 6;


        .pin-container{
            width: fit-content;         
            
            padding: 0;
            margin: 0;
            position: relative;
            cursor: pointer;

            img{
                width: 100% !important;
                margin: 0;
                padding: 0;
                border-radius: 15px;

            }
            &:hover{
                .save , .more, .upload{
                    display: block;  
                }
                              
            }
            
        }
        
    }
}

@media only screen and (max-width: 310px) {
    .posts-container{
        width: 80vw !important;
        margin-top: 10px !important;
    }
    .pins-hero{        
        columns: 1 !important;
    }
   
}


@media only screen and (min-width: 311px) and (max-width: 500px) {
    .posts-container{
        width: 95vw !important;
        margin-top: 10px !important;
    }
    .pins-hero{        
        columns: 2 !important;
    }
   
}

@media only screen and (min-width: 501px) and (max-width: 650px){
    .posts-container{
        width: 75vw !important;
        margin-top: 10px !important;
    }
    .pins-hero{        
        columns: 2 !important;
    }

}
@media only screen and (min-width: 651px) and (max-width: 750px){
    .posts-container{
        width: 92vw !important;
        margin-top: 10px !important;
    }
    .pins-hero{        
        columns: 3 !important;
    }

}
@media only screen and (min-width: 751px) and (max-width: 850px) {
    .posts-container{
        width: 85vw !important;
        margin-top: 10px !important;
    }
    .pins-hero{        
        columns: 3 !important;
    }
    
}
@media only screen and (min-width: 851px) and (max-width: 1000px) {
    .posts-container{
        width: 70vw !important;
        margin-top: 10px !important;
    }
    .pins-hero{        
        columns: 3 !important;
    }
}

@media only screen and (min-width: 1001px) and (max-width: 1100px) {
    .posts-container{
        width: 80vw !important;
    }
    .pins-hero{        
        columns: 4 !important;
    }
}
@media only screen and (min-width: 1101px) and (max-width: 1300px) {
    .posts-container{
        width: 95vw !important;
    }
    .pins-hero{        
        columns: 5 !important;
    }
}
@media only screen and (min-width: 1301px) and (max-width: 1400px) {
    .posts-container{
        width: 90vw !important;
    }
    .pins-hero{        
        columns: 5 !important;
    }
}