<app-toolbar></app-toolbar>
<div class="loading" *ngIf="!loading_complete">    
  <app-spinner ></app-spinner>
  <p>please wait ...</p>
</div>

<div class="everything" *ngIf="loading_complete">
  <app-profile [in_createdPage]="false"></app-profile>
  <div class="posts-container">
      <p class="heading" *ngIf="no_of_saved_posts === 0">No posts saved.</p>
      <div class="pins-hero">
        <div class="pin-container" *ngFor="let pin of data.saved_pins">
          <button class="icons save delete" (click)="deleteSavedPost(pin?.id)" *ngIf="current_user">
            delete
          </button>          
          <button class="icons upload">
            <mat-icon>upload</mat-icon>
          </button>
          <button class="icons more">
            <mat-icon>more_horiz</mat-icon>
          </button>
      
          
          <img  [src]="pin.image_url+timestamp | slice : 67" alt="" >
        </div>
        
      </div>


    </div>
  
  </div>