
.loading{
    margin-top: 100px;
    app-spinner{
        margin-left: auto;
        margin-right: auto;
        padding: 20px 0 20px 0;
    }
    p{
        text-align: center;
        color: var(--text-theme-color);
        font-weight: var(--font-weight-middle);
        font-size: var(--font-size-middle);
        margin: 0;
        padding: 0;
        padding: 20px 0 20px 0;
        font-family: var(--font-fam-semibold);
    }
}.everything{
    background-color: var(--primary-color);
    height: 100% !important;
    overflow-y: auto;
    position: relative;

    .actions-overlay{
        position: fixed;
        width: 100vw !important;
        height: 100vh !important;
        background-color: rgba(0, 0, 0, 0.402);
        z-index: 10000;
        top: 0;
        
    }

    .actions{
        position: fixed;
        z-index: 10002;
        width: 270px;
        height: fit-content;

        background-color: var(--primary-color2);
        border-radius: 20px;
        padding: 10px;
        left: 50%;
        top: 50%;
        transform: translate(-50% , -50%);

        .actions-container{
            position: relative;

            .close{
                position: absolute;
                right: 0;
                background-color: transparent;
                border: none;

            }
            mat-icon{
            color: var(--icons-theme);

            }

        }
        h1{
            padding: 0;
            margin: 0;
            text-align: center;
            font-size: var(--font-size-middle);
            font-weight: var(--font-weight-middle);
            font-family: var(--font-fam-semibold);
            color: var(--text-theme-color);
        }
        p{
            font-size: var(--font-size-middle);
            font-weight: var(--font-weight-middle);
            color: var(--text-theme-color);
            font-family: var(--font-fam-semibold);
            display: block;
            text-align: center;
            margin: 0;
            padding: 0;
        }
        small , .btntxt {
            font-size: var(--font-size-small);
            font-weight: var(--font-weight-middle);
            font-family: var(--font-fam-semibold);
            display: block;
            text-align: center;
            margin-bottom: 10px;
            color: var(--text-theme-color);

        }
        .confirm-delete-actions{
            display: block;
            padding-top: 25px ;            

            .state-btn{
                display: flex;
                width: 100%;
                justify-content: center;

                .delbtn{
                    width: 80px;
                    height: 40px;
                    border-radius: 20px;
                    border: none;
                    font-size: var(--font-size-small);
                    font-family: var(--font-fam-semibold);
                    font-weight: var(--font-size-middle);
                    color: var(--text-theme-color);
                    margin: 5px;
                    
                }
                .cancel{
                    background-color: rgba(0, 0, 0, 0.124);
                }
                .confirm{
                    background-color: red;
                }
            }

        }
        .share-actions{
            
            .socials{
                display: flex;
                overflow-x: scroll;
                justify-content: space-evenly;
                img{
                    width: 50px;
                    
                }
            }
            .copylink{
                button{
                    display: flex;
                    vertical-align: middle;
                    width: fit-content;
                    border: none;
                    background-color: transparent;
                    margin-top: 5px;
                    height: 30px;
                    justify-content: center;
                    background-color: var(--primary-color2);
                    border-radius: 15px;
                    cursor: pointer;
                    
                    mat-icon{
                        color: var(--icons-theme);
                        text-align: center;
                        justify-self: center;
                        align-self: center;

                    }
                    .link-caption{
                        color: var(--text-theme-color);
                        padding: 0;
                        margin: 0;
                        padding-left: 10px;
                        font-family: var(--font-fam-semibold);
                        font-size: var(--font-size-small);
                        font-weight: var(--font-weight-middle);
                        vertical-align: middle;
                        text-align: center;
                        justify-self: center;
                        align-self: center;
                    }

                }
            }

        }
        .more-actions{
            
            
            h1{
                color: var(--text-theme-color);
                padding: 0;
                margin: 0;
                justify-content: center;
                text-align: center;
            }
            button{
                display: flex;
                width: 100%;
                height: 40px;
                background-color: transparent;
                border: none;
                justify-content: left;
                vertical-align: middle;
                align-items: center;
                .btntxt{
                    padding: 0;
                    margin: 0;
                    vertical-align: middle;
                    padding-left: 10px;
                    color: var(--text-theme-color);
                }
            }

        }
        
    }

    
}
.posts-container{    
    justify-content: center;
    display: block;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;
    height: fit-content;

    

    
    
   
    .pins-hero{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .pin-container{
        width: 80vw;
        height: fit-content;
        width: 100vw;
        height: 100%;
        overflow-y: auto;
    }


    .heading{
        color: var(--icons-button-utils-color);
        font-weight: var(--font-weight-middle);
        font-family: var(--font-fam-semibold);
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .add-pins{

        .add{
            display: block;
            background-color: var(--text-theme-color);
            border-radius: 10px;
            cursor: pointer;
            position: relative;
            width: fit-content;
            margin: 0 auto 0 auto;
            
            p{
                color: var(--secondary-color);
                font-size: var(--font-size-middle);
                font-weight: var(--font-weight-middle);
                width: fit-content;
                padding: 10px 20px 10px 20px;
                margin: 0;
                font-family: var(--font-fam-semibold);
            }
                     

        }
    }

    button{
        border: none;
        width: fit-content;
        height: fit-content;
        background-color: transparent;
        font-family: var(--font-fam-semibold);
        cursor: pointer;

       
    }
    .pins{
        columns: 6;
        height: fit-content;
        overflow-y: auto;
        margin-left: auto;
        margin-right: auto;
        width: fit-content;
        padding-top: 20px;

       
      
    }
        
    
    .pin-box{
        width: fit-content;
        break-inside: avoid;      
        padding: 0;
        margin: 0;
        .image-box{
            position: relative;               
            height: auto;
            cursor: pointer;
            border-radius: 20px;
            height: fit-content; 
            width: fit-content;
            overflow: hidden;              
            padding: 0 !important;
            margin: 0 !important; 
            
            &:hover{
                .save ,.upload ,.more{
                    display: block;
                }
            }
            img{
                width: 100%;
                object-fit: cover;
                margin: 0;
               
                min-height: 120px;
                

            }
            
            .save{
                padding:5px 10px 5px 10px;
                position: absolute;
                height: 40px;
                border-radius: 15px;
                padding: 0 10px 0 10px ;
                background-color: var(--icons-button-utils-color);
                color: var(--text-theme-color-light);
                font-size: .9rem;
                font-family: var(--font-fam-semibold);
                font-weight: bold;
                top: 10px;
                right: 10px;
                display: none;
                opacity: .9;
        
                &:hover{
                    opacity: 1;
                }
                &:disabled{
                    background-color: var(--text-theme-color-dark);
                    cursor: not-allowed;
                }
            }
            .upload , .more{
                position: absolute;
                justify-content: center;
                align-items: center;
                background-color: var(--text-theme-color-light);
                padding: 0;
                height: 30px;
                width: 30px;
                border-radius: 15px;
                display: none;
                mat-icon{
                    margin: 0;
                    padding: 0;
                    color: var(--icons-button-utils-color);
                    align-self: center;
                    justify-self: center;
                    vertical-align: middle;
                    
                }
            }
            .more{
                bottom: 10px;
                right: 10px;
            }
            .upload{
                bottom: 10px;
                left: 10px;
            }
        }

        .pin-owner-description{
            display: flex;
            justify-content: space-between;
            cursor: pointer;    
            &:hover{
                .save , .more, .upload{
                    display: block;  
                }
                            
            }

            .owner-profile{
                width: 30px;
                height: 30px;
                border-radius: 15px;
                display: flex;
                justify-content: center;
                align-items: center;
                color: var(--text-theme-color-dark);
                font-weight: var(--font-weight-middle);
            }
            .description{
                small{
                    width: 100%;
                    word-wrap: break-word;
                    padding: 0;
                    margin: 0;
                    font-size: .6rem;
                    color: var(--text-theme-color);
                    font-family: var(--font-fam-semibold);
                }
            }
            .phone-more{
                display: none;
                color: var(--icons-button-utils-color);
            }
        }
        
        
        
    }
    
    .save:disabled{
        background-color: var(--text-theme-color-dark);
        cursor: not-allowed;
    }
    .save.delete{
        background-color: var(--warning-color);
    }
   

        
    
}


@media only screen and (max-width: 310px) {
    .pin-container{
        width: 80vw !important;
        margin-top: 0 !important;
        overflow-x: hidden  !important;
    }
    .pins{        
       columns: 1 !important;
    }
    
    .image-box:hover{
        .save , .more, .upload{
            display: none;  
        }
    }
    .phone-more{
        
        display: block !important;
    }
    
   
}


@media only screen and (min-width: 311px) and (max-width: 430px) {
    .pin-container{
        width: 95vw !important;
        margin-top: 0 !important;
        overflow-x: hidden  !important;
    }
    .pins{        
        columns: 2 !important;
    }
    .image-box:hover{
        .save , .more, .upload{
            display: none !important;  
        }
    }
    .phone-more{
        display: block !important;
        color: var(--icons-theme) !important; 
    }
   
}

@media only screen and (min-width: 431px) and (max-width: 650px){
    .pin-container{
        width: 90vw !important;
        margin-top: 0 !important;
        overflow-x: hidden  !important;
    }
    .pins{ 
        columns: 2 !important;  
       
        
    }
    .image-box:hover{
        .save , .more, .upload{
            display: none !important;  
        }
    }
    .phone-more{
        display: block !important;
    }
    
    
}
@media only screen and (min-width: 651px) and (max-width: 750px){
    .pin-container{
        width: 92vw !important;
        margin-top: 0 !important;
        overflow-x: hidden  !important;
    }
    .pins{ 
        columns: 3 !important;       
        
    }
    .image-box:hover{
        .save , .more, .upload{
            display: none !important;  
        }
    }
    .phone-more{
        display: block !important;

    }

}
@media only screen and (min-width: 751px) and (max-width: 850px) {
    .pin-container{
        width: 85vw !important;
        margin-top: 0 !important;
    }
    .pins{        
        columns: 4 !important;
    }
    .image-box:hover{
        .save , .more, .upload{
            display: none !important;  
        }
    }
    .phone-more{
        display: block !important;
    }
    
}
@media only screen and (min-width: 851px) and (max-width: 1000px) {
    .pin-container{
        width: 90vw !important;
        margin-top: 0 !important;
        overflow-x: hidden  !important;
    }
    .image-box:hover{
        .save , .more, .upload{
            display: none !important;  
        }
    }
    .pins{    
        columns: 4 !important;   
        
    }
    .phone-more{
        display: block !important;
    }
    
}

@media only screen and (min-width: 1001px) and (max-width: 1100px) {
    .pin-container{
        width: 90vw !important;
    }
    .pins{        
        columns: 5 !important; 
    }
    .everything{
        padding-top: 70px !important;
    }
}
@media only screen and (min-width: 1101px) and (max-width: 1300px) {
    .pin-container{
        width: 95vw !important;
    }
    .pins{        
        columns: 5 !important; 
    }
    .everything{
        padding-top: 70px !important;
    }
}
@media only screen and (min-width: 1301px){
    .pin-container{
        width: 90vw !important;
    }
    .pins{        
        columns: 6  !important;  
    }
    .everything{
        padding-top: 70px !important;
    }
}




  
 