<div class="search-container">
    <div class="search-input">
        <input type="text" placeholder="search here">
    </div>
    <div class="query-suggestions">
        <div class="suggestions" >
            <p></p>
        </div>
    </div>

    <div class="other-suggestions">
        <div class="recent-searches">
        </div>
        <h1>Ideas for you</h1>
        <div class="ideas-for-you" >
            <div class="idea-box">
                <img src="assets/posts/09c425a620ef85396902f3441b06c9b0.jpg" alt="">
                <div class="idea-caption">
                    <p>Luxury Room Bedroom</p>
                </div>            
            </div>
            <div class="idea-box">
                <img src="assets/posts/35463c2cc8bf49ea2a4d501f99313115.jpg" alt="">
                <div class="idea-caption">
                    <p>Luxury Room Bedroom</p>
                </div>            
            </div>
               
        </div>
        
        <h1>Popular on SanaaMnara</h1>
        <div class="popular-posts">
            <div class="idea-box">
                <img src="assets/posts/60de683d0056148f3133048dd1081b03.jpg" alt="">
                <div class="idea-caption">
                    <p>Luxury Room Bedroom</p>
                </div>            
            </div>
            <div class="idea-box">
                <img src="assets/posts/64abe013db9d80921b5e0ca975962f32.jpg" alt="">
                <div class="idea-caption">
                    <p>Luxury Room Bedroom</p>
                </div>            
            </div>
           
    
        </div>
        
        <h1>Shopping sportlight</h1>
        <div class="shopping-sportlight">
            <div class="shoppin-box">
                <img src="assets/posts/6daf6a67ff9e1a5c9de372cc7cb04249.jpg" alt="">
                <div class="shopping-caption">
                    <p>Build your sacred place</p>
                </div>            
            </div>     
            <div class="shoppin-box">
                <img src="assets/posts/8762ca156b3544c25423d2509515eadb.jpg" alt="">
                <div class="shopping-caption">
                    <p>Build your sacred place</p>
                </div>            
            </div>     
            <div class="shoppin-box">
                <img src="assets/posts/9c3c93d4f9468f53589e87db848a0260.jpg" alt="">
                <div class="shopping-caption">
                    <p>Build your sacred place</p>
                </div>            
            </div> 
            
    
        </div>   
        
        
    </div>
    

</div>
