
.search-container{
    background-color: var(--primary-color);
    margin-left: auto !important;
    margin-right: auto !important;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: fit-content;//make sure you chage this
    width: 90vw !important;

    .search-input{
        height: 40px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        input{
            height: 100%;
            width: 60%;
            padding: 0;
            
            margin: 0;
            border-radius: 20px;
            border: 2px solid var(--icons-theme);
            outline: none;
            padding: 0 10px 0 10px;
            font-size: var(--font-size-small);
            font-family: var(--font-fam-semibold);
            
        }

    }

    h1{
        margin: 5px 0 5px 0;
        font-size: var(--font-size-middle);
        font-weight:var( --font-weight-middle);
        font-family: var(--font-fam-semibold);
        text-align: center;
    }
    p{
        word-wrap: break-word !important;
        white-space: wrap !important;
       
    }
    .query-suggestions{
        max-height: 200px;
        overflow-y: auto;
    }
    .suggestions{
        cursor: pointer;
        overflow-x: hidden;
        p{
            color:var( --icons-button-utils-color);
            font-size: var(--font-size-middle);
            font-weight: var(--font-weight-middle);
            line-height: var(--font-size-middle);
            font-family: var(--font-fam-semibold);
           
            
        }
        p:hover{
            color: var(--text-theme-color-dark);
        }
    }

    


    .idea-box{
        width: 200px !important;
        height: 100px !important;
        cursor: pointer;
        margin: 10px;
        border-radius: 10px;
        overflow: hidden;
        position: relative;

        margin: 10px 10px 10px 10px;
                  
    
        img{
            height: 100%;
            object-fit: cover;
            width: 100%;
        }
    }
    .shoppin-box{
        width: 130px !important;
        height: 130px !important;
        cursor: pointer;
        border-radius: 10px;
        margin: 10px 10px 10px 10px;            
        overflow: hidden;       
        position: relative;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .shopping-caption{
            position: absolute; 
            top: 0;    
            background-color: rgba(0, 0, 0, 0.523);             
            width: 100%;
            height: 100%; 
            display: flex;
            justify-content: center;
            align-items: center;
            
                      
            p{
                margin: 0;
                padding: 0;
                text-align: center;
                color: var(--text-theme-color);
                font-size: var(--font-size-small);
               
                font-family: var(--font-fam-semibold);
               
            
            }
           
        }
    }
    .idea-caption{
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.523);  
        justify-content: center;
        align-items: center;
        text-align: center;
        align-content: center;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        width: 100%;
        display: flex;
       
        
        p{
            
            font-size: 1rem;
            font-weight: var(--font-weight-big);
            padding: 0;
            text-align: center;

            margin: 0;
            margin-left: 10px;
            margin-right: 10px;
            color: var(--text-theme-color);
            font-size: var(--font-size-small);
            
            font-family: var(--font-fam-semibold);
            
            
            
        }
       
    }
}
.recent-searches ,.ideas-for-you, .popular-posts{
    display: inline-flex;
    width: 100%;
    overflow-x: auto;
    justify-content: center;
    align-items: center;

    
    
}
.shopping-sportlight{
    padding: 10px 10px 10px 10px;
    display: flex;
    overflow-x:auto;
    justify-content: center;
    align-items: center;

  
    
    
}






