$primary-color : rgb(243, 243, 243);
$secondary-color : rgb(234, 186, 234);
$icons-button-utils-color : #330099;
$font-size-big : 1.4rem;
$font-size-middle : 1.1rem;
$font-size-small: .8rem;
$font-weight-small: 400;
$font-weight-middle: 550;
$font-weight-big : 600;
$text-theme-color-dark: black;
$text-theme-color-light: white;
$warning-color: rgb(172, 16, 42);

@font-face {
    font-family: 'montserrat';
    src: url("/assets/fonts/Montserrat-Black.ttf") format('truetype');
    font-weight: normal;
    
}
@font-face {
    font-family: 'montserrat-semibold';
    src: url("/assets/fonts/Montserrat-SemiBold.ttf") format('truetype');
    font-weight: normal;
    
}
@font-face {
    font-family: 'montserrat-Extrabold';
    src: url("/assets/fonts/Montserrat-ExtraBold.ttf") format('truetype');
    font-weight: normal;
    
}
@font-face {
    font-family: 'montserrat-medium';
    src: url("/assets/fonts/Montserrat-Light.ttf") format('truetype');
    font-weight: normal;
    
}
:root{
    --primary-color-dark : rgba(0, 0, 0, 0.934);
    --primary-color-light: rgb(243, 243, 243);
    --font-size-big : 1.4rem;
    --font-size-small: .8rem;
    --font-weight-middle: 550;
    --font-weight-big : 600;
    --text-theme-color-dark: black;
    --text-theme-color-light: white;
    --warning-color: rgb(172, 16, 42);
    --icons-button-utils-color : #330099;
    --secondary-color1 : #6730fb;
    --secondary-color2 :  #330099;
    --font-size-middle : 1.1rem;
    --card-bgcolor-dark: rgba(60, 60 ,60, 1);
    
    --font-weight-small: 400;
    --font-fam-semibold:'montserrat-semibold' , Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    --font-fam-medium: 'montserrat-medium' , Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    --font-fam-extrabold: 'montserrat-Extrabold' , Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    --font--fam-above-nom: 'montserrat' , Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

div[theme = 'light']{
    --primary-color : var(--primary-color-light) !important;
    --text-theme-color: var(--text-theme-color-dark);
    --primary-color2 : var( --text-theme-color-light);
    --secondary-color: var(--secondary-color1);
    --card-bgcolor : var(--primary-color-light);
}
div[theme = 'dark']{
    --primary-color : var(--primary-color-dark) !important;
    --text-theme-color: var(--primary-color-light);
    --primary-color2 : var(--text-theme-color-dark);
    --secondary-color : var(--secondary-color2);
    --card-bgcolor : var(--card-bgcolor-dark);
}



html, body {
    height: 100%;
    scroll-snap-type: y mandatory;
 }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;}

app-root{
    width: 100vw;
    height: fit-content;
    
}
app-spinner{
    width: fit-content;
    height: fit-content;
}
::-webkit-scrollbar {
    width: 5px;
    height: 0px;
}

::-webkit-scrollbar-track {
    background-color: var(--primary-color); 
}

::-webkit-scrollbar-thumb {
    background-color: var(--secondary-color); /* Color of the scroll bar thumb */
    border-radius: 2.5px;
}

/* For Firefox */
::-moz-scrollbar {
    width: 5px;
    height: 0px;
}

::-moz-scrollbar-track {
    background-color: var(--primary-color);
}

::-moz-scrollbar-thumb {
    background-color: var(--secondary-color);
    border-radius: 2.5px;
}


::-ms-scrollbar {
    width: 5px;
    height: 0px;
}

::-ms-scrollbar-track {
    background-color: var(--primary-color);
}

::-ms-scrollbar-thumb {
    background-color: var(--secondary-color);
    border-radius: 2.5px;
}
