


.checkout-hero{
    /* height of  fixed toolbar */
    width: 100vw;
    height: 100vh;
    margin-top: 70px;
    overflow-y: auto;
    background-color: var(--primary-color);
    
    mat-icon{
        color: var(--icons-button-utils-color);
        

    }

    .liked{
        color: red;
    }


    .checkout-box{
        
        width: 50vw;
        padding: 0;
        margin: 0;
        margin-left: auto;
        margin-right: auto;
        background-color: var(--text-theme-color);
        height: fit-content;
        display: grid;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        overflow: hidden;
        grid-template-columns: 50% 50%;
        column-gap: 20px;


        .checkout-image{
            width: 100%;
            height: 100%;
            padding: 0;
            margin: 0;
            display: flex;
            position: relative;
            justify-content: left;
            mat-icon{
                left: 15px;
                top: 15px;
                cursor: pointer;                
                font-size: 3rem;
                color: var(--secondary-color);
                border-radius: 50%;
                overflow: hidden;
                position: absolute;
                z-index: 100;
                width: fit-content;
                height: fit-content;
                outline: none;
                background-color: var(--primary-color);

            }
            

            img{
                width: 100%;
                height: auto; 
                justify-self: left;
                vertical-align: middle; 
                object-fit: scale-down;              
            }
        }

        .checkout-post-details{
           
            height: 100%;
            width: 100%;
            display: block;
            position: relative;
            background-color: var(--primary-color2);

            .post-actions{
                height: 70px;
                display: flex;
                width: calc(100% - 30px);
                justify-content: space-between;
                align-items: center;
                margin-left: auto;
                margin-right: auto;
                button{
                    background-color: transparent;
                    border: none;
                    cursor: pointer;
                    padding-left: 10px;
                    padding-right: 10px;
                    margin: 10px;

                }
                .left-icons{
                    display: flex;
                    align-items: center;
                    justify-items: center;
                    justify-content: center;
                    width: fit-content;
                    mat-icon{
                        font-size: 2rem ;
                        width: fit-content;
                        height: fit-content;
                        color: var(--icons-button-utils-color);
                        
                    }
                }
                .save{
                    height: 40px;
                    border-radius: 15px;
                    padding: 0 15px 0 15px ;
                    font-family: var(--font-fam-semibold);
                    background-color: var(--icons-button-utils-color);
                    color: var(--text-theme-color-light);
                    font-size: var(--font-size-middle);
                    font-weight:var(--font-weight-middle);font-size: var(--font-size-middle);
                    font-weight: var(--font-weight-middle);
        
                    opacity: .9;            
        

                    &:hover{
                        opacity: 1;
                    }

                    &:disabled{
                        background-color: gray;
                        cursor: not-allowed;
                    }
                }
                .more{
                    border-radius: 15px;
                    padding: 0;
                    width: 30px;
                    height: 30px;
                }
                .upload{
                    border-radius: 15px;
                    padding: 0;
                    width: 30px;
                    height: 30px;

                }

            }
            .post-owner{
                display: flex;
                justify-content: space-between;
                margin-top: 10px;
                margin-bottom: 10px;
                width: calc(100% - 20px);

                .left{
                    display: flex;
                    cursor: pointer;
                    .profile{
                        height: 36px !important;
                        width: 36px !important;
                        border-radius: 18px;
                        font-weight: var(--font-weight-middle);
                        font-size: var(--font-size-small);
                        color: var(--text-theme-color-light);
                        display: flex;
                        background-color: var(--icons-button-utils-color);
                        border-radius: 20px;
                        margin: 0;
                        justify-content: center;
                        align-items: center;
                        justify-self: center;
                        align-self: center;
                        vertical-align: middle;
                        margin: 0 5px 0 5px;
                    }
                    p{
                        margin: 0;
                        padding: 0;
                        font-family: var(--font-fam-semibold);
                        width: fit-content;
                        display: block;
                        height: var(--font-size-middle);
                        font-size: var(--font-size-small);
                        color: var(--text-theme-color);
                        span{
                            color: var(--icons-button-utils-color);
                            font-weight: var(--font-weight-big);
                            margin-right: 5px;
                        }
                    }
                }

                button{
                    background-color: transparent;
                    border-radius: 20px;
                    height: 40px;
                    border: 2px solid var(--icons-button-utils-color);
                    color: var(--icons-button-utils-color);
                    padding: 0 15px 0 15px;
                    font-size: var(--font-size-middle);
                    font-weight: var(--font-weight-middle); 
                    font-family: var(--font-fam-semibold);  
                    cursor: pointer;  
                    
                    &:hover{
                        background-color: var(--icons-button-utils-color);
                        color: var(--primary-color);
                        transition: ease 1s;
                    }
                }
            }




            .comments-box{
                max-height: calc(100% - 230px );
                overflow-y: auto;
                min-height: 100px;               
                width: calc(100% - 20px);
                margin: 0 auto 0 auto;
                h1{
                    font-size: var(--font-size-middle);
                    font-weight: var(--font-weight-middle);
                    color: var(--icons-button-utils-color);
                    margin: 0;
                    padding: 0;
                    font-family: var(--font-fam-semibold);
                }
                .comment-commenter{
                    .comment{
                        display: grid;
                        grid-template-columns: 30px auto;
                        
                        .commenter{
                            width: 26px;
                            height: 26px;
                            border-radius: 14px;
                            background-color: var(--text-theme-color);
                            font-size: .7rem;
                            color: var(--primary-color);
                            display: flex;
                            vertical-align: middle;
                            justify-content: center;
                            align-items: center;
                            text-align: center;

                        }
                        p{
                            padding: 0;
                            margin: 0;
                            font-size: var(--font-size-small);
                            word-wrap: break-word;
                            display: flex;
                            justify-items: left;
                            text-align:left;
                            justify-content: left;
                            height: var(--font-size-middle);
                            color: var(--text-theme-color);
                            vertical-align: middle;
                            font-family: var(--font-fam-semibold);
                           
                        
                            span{
                                font-weight: var(--font-weight-middle);
                                font-size: var(--font-size-middle);
                                margin-left: 5px;
                                margin-right: 5px;
                                


                            }
                        }

                    }
                    .comment-actions{
                        p{
                            display: flex;
                            padding: 0;
                            margin: 0;
                            justify-content: space-between;
                            max-width: 170px;
                            color: var(--text-theme-color);
                            margin-left: 30px;
                            align-items: center;
                            font-family: var(--font-fam-medium);
                            font-weight: var(--font-size-big);
                        }
                        mat-icon{
                            font-size: 20px;
                            padding: 0;
                            margin: 0;
                            vertical-align: middle;
                        }

                    }

                }
            }
           
            .post-comment{
                position: absolute;
                bottom: 0;
                padding: 10px;
                width: calc(100% - 30px);
                border-top: 2px solid rgba(0, 0, 0,0.1);

                .comments-action{
                    display: flex;
                    justify-content: space-between;
                    p{
                        font-size: var(--font-size-middle);
                        font-weight: var(--font-weight-middle);
                        line-height: var(--font-size-middle);
                        color: var(--icons-button-utils-color);
                        font-family: var(--font-fam-semibold);
                        margin: 0;
                        padding: 0;
                        text-align: center;
                        height: var(--font-size-middle);
                        vertical-align: middle;
                    }
                    .right{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                    span{
                        justify-self: center;
                        justify-content: center;
                        align-items: center;
                        display: flex;
                        font-size: var(--font-size-small);
                    }
                    button{
                        background-color: transparent;
                        border: none;
                       
                        justify-content: center;
                        display: flex;
                        align-items: center;
                        width: 40px;
                        height: 40px;
                        border-radius: 20px;
                        margin-left: 10px;
                        margin-right: 10px;
                        cursor: pointer;

                        mat-icon{
                            width: fit-content;
                        }
                        
                    }
                }
                form{
                    display: grid;
                    position: relative;
                    grid-template-columns:40px auto ;
                    column-gap: 0 !important;
                    .logged-in-user-photo{
                        height: 36px !important;
                        width: 36px !important;
                        border-radius: 18px;
                        font-weight: var(--font-weight-middle);
                        font-size: var(--font-size-small);
                        font-family: var(--font-fam-semibold);
                        color: var(--text-theme-color-light);
                        display: flex;
                        background-color: indigo;
                        border-radius: 20px;
                        margin: 0;
                        justify-content: center;
                        align-items: center;
                        justify-self: center;
                        align-self: center;
                        vertical-align: middle;
                    }
                    .comment-input{
                        background-color: transparent;
                        height: 40px;
                        border-radius: 20px;
                        border: 2px solid var(--secondary-color);
                        padding: 0;
                        overflow: hidden;
                        margin: 0;
                        position: relative;

                        textarea{
                            
                            padding: 0;
                            margin: 0;
                            height: 40px;
                            padding: 5px 10px 5px 10px;
                            background-color: transparent;
                            color: var(--text-theme-color);
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            font-weight: var(--font-weight-middle);
                            outline: none;
                            border: none;
                            resize: none;
                            width: calc(100% - 20px);
                            height: 100%;
                            font-size:var( --font-size-middle);
                            font-family: var(--font-fam-semibold);
                        }
                        .emoji-box{
                            position: absolute;
                            right: 10px;
                            top: 50%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            background-color: transparent;
                            height: 25px;
                            width: 25px;
                            transform: translateY(-50%);
                        }
                    }

                }
                
            }
        }

    }

    //  more like the post
    h1.related{
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        margin: 16px 0 16px 0;
        font-weight: var(--font-weight-big);
        color: var(--icons-button-utils-color);
        font-size: var(--font-size-big);
        font-family: var(--font-fam-semibold);
    }

    
    
    .pins-hero{        
        height: 100%;
        width: 80vw;
        margin-left: auto;
        margin-right: auto;
        overflow-x: hidden;
        columns: 6;

        button{
            border: none;
            width: fit-content;
            height: fit-content;
            background-color: transparent;
            cursor: pointer;
    
           
        }


        .pin-container{
            width: fit-content;
            border-radius: 15px;
            overflow: hidden;
            position: relative;
            height: fit-content;
            padding: 0;
            margin: 0;
            
            cursor: pointer;

            img{
                width: 100% !important;

            }
            .icon-save{
                padding:5px 10px 5px 10px;
                position: absolute;
                border-radius: 20px;
                background-color: var(--secondary-color);
                color: white;
                font-size: .9rem;
                font-weight: bold;
                top: 10px;
                right: 10px;
                display: none;
        
                &:hover{
                    opacity: .7;
                }
            }
            .icon-upload , .icon-more{
                position: absolute;
                justify-content: center;
                align-items: center;
                background-color:white;
                padding: 0;
                height: 30px;
                width: 30px;
                border-radius: 15px;
                display: none;
                mat-icon{
                    margin: 0;
                    padding: 0;
                    color: var(--secondary-color);
                    align-self: center;
                    justify-self: center;
                    vertical-align: middle;
                    
                }
            }
            .icon-more{
                bottom: 10px;
                right: 10px;
            }
            .icon-upload{
                bottom: 10px;
                left: 10px;
            }
            &:hover{
                .icon-save , .icon-more, .icon-upload{
                    display: block;  
                }
                              
            }
            
        }
        
        
    }

    

}

@media only screen and (max-width: 310px) {
    .checkout-hero{
        margin-top: 10px !important;
    }
    .checkout-box{
        display: grid;
        height: fit-content;
        grid-template-columns: 100% !important;
        width: 100vw !important;
    }
    .post-comment{
        position: relative !important;
        display: block;
    }
    .checkout-image{
        

        img{         
           
            object-fit: cover !important; 
            max-height: fit-content !important;             
        }
    }

    .post-actions{
        position: sticky;
        bottom: 0;
    }
   
}


@media only screen and (min-width: 311px) and (max-width: 500px) {
    .checkout-hero{
        margin-top: 10px !important;
    }
    .checkout-box{
        display: grid;
        height: fit-content;
        grid-template-columns: 100% !important;
        width: 100vw !important;
    }
    .post-comment{
        position: relative !important;
        display: block;
    }
    .comments-box{
        max-height: 300px;
        overflow-y: auto;
    }
    .checkout-image{
 
        img{
            object-fit: cover !important; 
            max-height: fit-content !important;             
        }
    }
    .post-actions{
        position: sticky;
        bottom: 0;
    }
   
}

@media only screen and (min-width: 501px) and (max-width: 650px){
    .checkout-hero{
        margin-top: 10px !important;
    }
    .comments-box{
        max-height: 300px;
        overflow-y: auto;
    }
    .checkout-box{
        display: grid;
        height: fit-content;
        grid-template-columns: 100% !important;
        width: 90vw !important;
    }
    .post-comment{
        position: relative !important;
        display: block;
    }
    .post-actions{
        position: sticky;
        bottom: 0;
    }

}
@media only screen and (min-width: 651px) and (max-width: 750px){
    .checkout-hero{
        margin-top: 10px !important;
    }
    .comments-box{
        max-height: 300px;
        overflow-y: auto;
    }
    .checkout-box{
        display: grid;
        height: fit-content;
        grid-template-columns: 100% !important;
        width: 80vw !important;
    }
    .post-comment{
        position: relative !important;
        display: block;
    }

}
@media only screen and (min-width: 751px) and (max-width: 850px) {
    .checkout-hero{
        margin-top: 10px !important;
    }
    .comments-box{
        max-height: 300px;
        overflow-y: auto;
    }
    .checkout-box{
        display: grid;
        height: fit-content;
        grid-template-columns: 100% !important;
        width: 80vw !important;
    }
    .post-comment{
        position: relative !important;
        display: block;
    }
    
}
@media only screen and (min-width: 851px) and (max-width: 1000px) {
    .checkout-hero{
        margin-top: 10px !important;
    }
    .comments-box{
        max-height: 300px;
        overflow-y: auto;
    }
    .checkout-box{
        display: grid;
        height: fit-content;
        grid-template-columns: 100% !important;
        width: 70vw !important;
    }
    .post-comment{
        position: relative !important;
        display: block;
    }
}

@media only screen and (min-width: 1001px) and (max-width: 1100px) {
    .home-container{
        width: 80vw !important;
    }
    .pins-hero{        
        columns: 4 !important;
    }
}
@media only screen and (min-width: 1101px) and (max-width: 1300px) {
    .home-container{
        width: 95vw !important;
    }
    .pins-hero{        
        columns: 5 !important;
    }
}
@media only screen and (min-width: 1301px) and (max-width: 1400px) {
    .home-container{
        width: 90vw !important;
    }
    .pins-hero{        
        columns: 5 !important;
    }
}